# Preporcesssing raw data and making CSV files

In [1]:
import pandas as pd
import numpy as np

In [46]:
data=[line.rstrip() for line in open('data/Bob.txt') ]

In [43]:
col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight','builder']

In [25]:
df=pd.DataFrame(columns=col)

#df

In [26]:
df

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder]
Index: []

[0 rows x 21 columns]

In [66]:
#be carefull
#remove unnessesary/extra spaces from values (nhi to baad me join na ho payega price se .....)
# use str=str.strip()



def to_df(arr,df,k,builder):
    col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight','builder']
    tmp=pd.DataFrame(columns=col)
    
    for i in range(0,len(arr)):
        tmp.loc[k,'builder']=builder
        if 'House ID' in arr[i]:
            tmp.loc[k,'house_id']=arr[i].split(':')[1].strip()

        elif 'Date Built' in arr[i]:
            tmp.loc[k,'buid_date']=arr[i].split('and')[0].split(':')[1].strip()+':'+ arr[1].split('and')[0].split(':')[2].strip()
            tmp.loc[k,'date_priced']=arr[i].split('and')[1].split(':')[1].strip()+':'+ arr[1].split('and')[1].split(':')[2].strip()

        elif 'beautiful garden' in arr[i]:
            tmp.loc[k,'garden']=1

        elif 'no space' in arr[i]:
            tmp.loc[k,'garden']=0

        elif 'the Dock' in arr[i]:
            tmp.loc[k,'dst_dock']=arr[i].split()[arr[i].split().index('holy')-1].strip()

        elif 'Capital' in arr[i]:
            tmp.loc[k,'dst_capital']=arr[i].split()[arr[i].split().index('holy')-1].strip()

        elif 'Royal Market' in arr[i]:
            tmp.loc[k,'dst_mkt']=arr[i].split()[arr[i].split().index('holy')-1].strip()

        elif 'Guarding Tower' in arr[i]:
            tmp.loc[k,'dst_tower']=arr[i].split()[arr[i].split().index('holy')-1].strip()

        elif 'the River' in arr[i]:
            tmp.loc[k,'dst_river']=arr[i].split()[arr[i].split().index('holy')-1].strip()


        elif 'not undergo' in arr[i]:
            tmp.loc[k,'renovation']=0
        elif 'underwent renovation' in arr[i]:
            tmp.loc[k,'renovation']=1

        elif 'dining rooms' in arr[i]:
            tmp.loc[k,'dining_rooms']=arr[i].split()[arr[i].split().index('are')+1].strip()

        elif 'bedrooms' in arr[i]:
            tmp.loc[k,'bedrooms']=arr[i].split()[arr[i].split().index('are')+1].strip()

        elif 'bathrooms' in arr[i]:
            tmp.loc[k,'bathrooms']=arr[i].split()[arr[i].split().index('are')+1].strip()


        elif 'curse this house' in arr[i]: 
            tmp.loc[k,'curse']=0
        elif 'cursed' in arr[i]: 
            tmp.loc[k,'curse']=1

        elif 'his visit' in arr[i]: 
            tmp.loc[k,'king_visit']=0 
           
        elif 'this house once' in arr[i]: 
            tmp.loc[k,'king_visit']=1

        elif 'blessed the house' in arr[i]:
            tmp.loc[k,'king_blessing']=arr[i].split()[arr[i].split().index('with')+1].strip()

        elif 'land of farm' in arr[i]: 
            tmp.loc[k,'farm_land']=arr[i].split()[arr[i].split().index('land')-1].strip()

        elif 'Location of the house' in arr[i]: 
            tmp.loc[k,'locations']=arr[i].split(':')[1].strip()

        elif 'stands tall' in arr[i]: 
            tmp.loc[k,'holy_tree']='yes'
        elif 'tree was cut' in arr[i]: 
            tmp.loc[k,'holy_tree']='no'

        elif 'Knight\'s house' in arr[i]:
            tmp.loc[k,'dst_knight']=arr[i].split()[arr[i].split().index('holy')-1].strip()

    #print(tmp)
    df=df.append(tmp)
    return df
pass

In [15]:
len(data)

NameError: name 'data' is not defined

In [63]:
def merge_df(file_name,df):
    data=[line.rstrip() for line in open(file_name)]
    #col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight','builder']
    #df=pd.DataFrame(columns=col)
    
    i=0
    k=df.index.size
    builder=file_name.split('/')[1].split('.')[0]
    while i <len(data):
        if 'House ID' in data[i]:
            l=i
            while data[i]!='':
                i=i+1
            r=i
            #print(k,data[l])
            df=to_df(data[l:r],df,k,builder)
            k=k+1
        i=i+1
       
    
    #file_csv=file_name.split('.')[0]+'.csv'
    #df.to_csv(file_csv,index=None)
    print(file_name,' added to data frame')
    return df

In [33]:
col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight','builder']
df=pd.DataFrame(columns=col)

In [34]:
df.index.size

0

In [35]:
df=merge_df('data/Bob.txt',df)

data/Bob.txt  added to data frame

In [36]:
df.index.size

1292

In [11]:
df=merge_df('Bright_Brothers.txt',df)

FileNotFoundError: [Errno 2] No such file or directory: 'Bright_Brothers.txt'

In [ ]:
df.tail()

In [39]:
files=['Bob.txt','Bright_Brothers.txt','Masters_of_Stones.txt','The_Overlords.txt','Wood_Priests.txt','The_Starks.txt','The_Greens.txt','The_Kings.txt','The_Lannisters.txt','The_Ollivers.txt','Not_Known.txt']

In [41]:
len(files)

11

In [64]:
def final_csv(df):
    files=['Bob.txt','Bright_Brothers.txt','Masters_of_Stones.txt','The_Overlords.txt','Wood_Priests.txt','The_Starks.txt','The_Greens.txt','The_Kings.txt','The_Lannisters.txt','The_Ollivers.txt','Not_Known.txt']
    for i in range (0,len(files)):
        path='data/'+files[i]
        print(path)
        df=merge_df(path,df)
    
    #csv file with detail of all the builders and houses 
    df.to_csv('csv/final_csv.csv',index=None)
    print('final data frame created')
    return df

In [65]:
col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight','builder']
df=pd.DataFrame(columns=col)
df=final_csv(df)

data/Bob.txt
data/Bob.txt  added to data frame
data/Bright_Brothers.txt
data/Bright_Brothers.txt  added to data frame
data/Masters_of_Stones.txt
data/Masters_of_Stones.txt  added to data frame
data/The_Overlords.txt
data/The_Overlords.txt  added to data frame
data/Wood_Priests.txt
data/Wood_Priests.txt  added to data frame
data/The_Starks.txt
data/The_Starks.txt  added to data frame
data/The_Greens.txt
data/The_Greens.txt  added to data frame
data/The_Kings.txt
data/The_Kings.txt  added to data frame
data/The_Lannisters.txt
data/The_Lannisters.txt  added to data frame
data/The_Ollivers.txt
data/The_Ollivers.txt  added to data frame
data/Not_Known.txt
data/Not_Known.txt  added to data frame
final data frame created

In [ ]:
#merging data frame based on some columns
#new_df=pd.merge(df1,df2,how='inner',on=['col1','col2'])

In [69]:
df=pd.read_csv('csv/final_csv.csv')
#adding prices with created csv and dataframe
price=pd.read_csv('csv/house_prices.csv')
missing=pd.read_csv('csv/missing.csv')
#rename column names
price.columns=['house_id','price']
missing.columns=['house_id']
train_data=pd.merge(df,price,how='inner',on=['house_id'])
test_data=pd.merge(df,missing,how='inner',on=['house_id'])

train_data.to_csv('csv/train.csv',index=None)
test_data.to_csv('csv/test.csv',index=None)

In [228]:
missing

      House ID
0     6e33d031
1     6e33d037
2     6e33d03d
3     6e33d043
4     6e33d045
5     6e33d049
6     6e33d04d
7     6e33d051
8     6e33d053
9     6e33d055
10    6e33d05b
11    6e33d05f
12    6e33d062
13    6e33d065
14    6e33d067
15    6e33d06b
16    6e33d071
17    6e33d075
18    6e33d07a
19    6e33d080
20    6e33d083
21    6e33d089
22    6e33d08b
23    6e33d08e
24    6e33d090
25    6e33d095
26    6e33d098
27    6e33d09a
28    6e33d09d
29    6e33d0a0
...        ...
3470  6e340639
3471  6e34063f
3472  6e340643
3473  6e340648
3474  6e34064d
3475  6e340651
3476  6e340654
3477  6e340657
3478  6e34065c
3479  6e340660
3480  6e340664
3481  6e340669
3482  6e34066e
3483  6e340672
3484  6e340674
3485  6e34067a
3486  6e340680
3487  6e340684
3488  6e340688
3489  6e34068a
3490  6e34068e
3491  6e340692
3492  6e340694
3493  6e340697
3494  6e34069d
3495  6e3406a1
3496  6e3406a5
3497  6e3406a9
3498  6e3406ab
3499  6e3406b0

[3500 rows x 1 columns]

In [225]:
type(price['house_id'][0])

str

In [226]:
train_data

,house_id,buid_date,date_priced,garden,dst_dock,dst_capital,dst_mkt,dst_tower,dst_river,renovation,...,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,dst_knight,builder,price
0,6e32cec0,4/21/1602 12:41 AM,7/9/1609 1:11 AM,0.0,138.600639,0.256239,69.486467,14.394903,63.109038,0.0,...,NaN,0.0,0.0,160,small,King's Landing,yes,10.505662,Bob,1470912.0
1,6e32ceda,10/23/1603 11:14 PM,10/21/1611 7:40 AM,0.0,10.998322,122.930753,63.794375,53.019891,17.045949,0.0,...,3.0,0.0,0.0,37,huge,The Mountains,yes,132.934312,Bob,1052137.0
2,6e32cf09,3/18/1603 3:53 AM,5/17/1610 9:36 PM,0.0,52.819705,80.970959,96.656914,70.965631,6.548119,0.0,...,3.0,0.0,0.0,79,small,Cursed Land,yes,91.425357,Bob,1017577.0
3,6e32cfa9,8/18/1606 12:23 AM,1/20/1608 10:45 AM,0.0,82.283966,4.331436,29.043012,119.126593,24.298255,0.0,...,3.0,0.0,1.0,156,small,Cursed Land,no,14.695102,Bob,1409057.0
4,6e32cfb7,9/11/1603 11:53 AM,5/20/1611 4:49 PM,0.0,34.524141,NaN,6.740951,222.341302,1.821655,0.0,...,4.0,0.0,0.0,74,small,The Mountains,yes,NaN,Bob,1317434.0
5,6e32cfd5,6/13/1601 1:25 PM,6/19/1611 4:13 AM,NaN,38.877415,25.065928,NaN,76.196189,1.257721,0.0,...,3.0,0.0,0.0,135,huge,Servant's Premises,NaN,35.568437,Bob,1333643.0
6,6e32d0c0,1/19/1606 12:50 PM,10/27/1610 9:13 PM,0.0,35.988844,4.570255,67.579542,157.877738,15.756025,0.0,...,4.0,0.0,0.0,155,small,The Mountains,yes,15.068711,Bob,1462503.0
7,6e32d0f3,11/22/1606 11:22 PM,1/13/1611 11:32 AM,0.0,83.914728,107.184545,57.067604,147.898157,55.592034,0.0,...,4.0,0.0,1.0,53,small,The Mountains,NaN,117.410316,Bob,930118.0
8,6e32d166,1/7/1602 3:34 AM,1/2/1607 3:19 PM,0.0,64.288283,101.610694,NaN,204.669501,60.009117,0.0,...,3.0,0.0,0.0,58,small,The Mountains,yes,112.494554,Bob,1014617.0
9,6e32d234,6/25/1605 8:26 AM,3/11/1608 8:21 PM,0.0,59.504656,29.541134,3.366960,63.397907,21.391704,0.0,...,3.0,0.0,0.0,130,huge,King's Landing,yes,40.454345,Bob,1574362.0
10,6e32d244,3/22/1604 2:45 AM,10/8/1610 6:15 AM,0.0,74.890453,17.524012,NaN,86.880636,77.993602,0.0,...,3.0,0.0,0.0,142,small,King's Landing,yes,27.655990,Bob,1408207.0
11,6e32d266,3/21/1603 7:45 AM,9/11/1611 1:14 PM,0.0,1.624838,55.126870,NaN,163.885000,16.102894,1.0,...,4.0,0.0,1.0,105,small,King's Landing,no,65.487434,Bob,1294734.0
12,6e32d280,9/12/1601 6:51 AM,3/3/1608 5:42 PM,0.0,13.140060,23.920629,7.363083,154.780872,15.867466,0.0,...,2.0,0.0,0.0,136,small,King's Landing,yes,34.604391,Bob,1525016.0
13,6e32d28a,2/15/1606 8:48 AM,1/11/1608 9:13 AM,1.0,25.738221,67.262718,31.834800,84.042989,7.106701,0.0,...,4.0,NaN,0.0,93,no,King's Landing,yes,77.441446,Bob,1382287.0
14,6e32d2e0,9/19/1604 5:28 PM,10/19/1608 3:28 PM,0.0,86.072564,85.923206,85.563521,146.862456,12.638273,0.0,...,3.0,0.0,1.0,74,small,Cursed Land,NaN,96.737140,Bob,913124.0
15,6e32d315,3/7/1602 2:21 AM,5/18/1607 11:32 AM,0.0,51.245386,22.260774,9.938782,96.415385,5.789836,0.0,...,3.0,0.0,0.0,138,huge,NaN,NaN,33.157025,Bob,1397904.0
16,6e32d328,12/6/1606 11:19 PM,10/10/1609 12:11 PM,0.0,34.410733,16.638938,NaN,50.512115,15.009420,1.0,...,4.0,0.0,1.0,143,small,The Mountains,no,27.320449,Bob,1501970.0
17,6e32d349,11/3/1602 2:22 PM,8/2/1609 1:28 PM,1.0,67.171839,73.733494,22.279648,104.567561,43.619874,0.0,...,3.0,NaN,0.0,86,no,The Mountains,NaN,84.146593,Bob,1071513.0
18,6e32d3a6,12/15/1606 9:36 PM,9/7/1609 12:40 PM,0.0,61.212460,58.817801,5.643314,160.459915,41.915869,0.0,...,2.0,0.0,0.0,101,small,The Mountains,yes,69.088692,Bob,1299089.0
19,6e32d3ad,2/5/1603 6:27 PM,9/15/1610 10:47 AM,0.0,8.423696,3.031959,31.432316,10.970801,21.169758,1.0,...,2.0,0.0,0.0,157,small,The Mountains,yes,13.114153,Bob,1524907.0
20,6e32d3f6,4/10/1604 6:55 PM,1/18/1611 3:36 PM,0.0,NaN,26.820090,34.978795,91.361455,41.862843,0.0,...,4.0,0.0,0.0,133,small,The Mountains,NaN,37.442226,Bob,1301197.0
21,6e32d414,8/9/1601 4:52 PM,5/12/1607 5:32 PM,0.0,57.714600,6.002568,47.348837,32.106155,2.870670,0.0,...,NaN,0.0,0.0,154,small,The Mountains,yes,16.567206,Bob,1547380.0
22,6e32d456,8/7/1603 12:42 PM,12/20/1607 10:42 AM,0.0,15.523291,153.360600,32.174217,NaN,33.493852,0.0,...,4.0,0.0,1.0,7,huge,King's Landing,yes,163.658437,Bob,971218.0
23,6e32d460,8/24/1603 3:24 PM,11/28/1612 11:28 PM,NaN,NaN,8.760628,124.305272,30.021297,15.976977,1.0,...,NaN,0.0,0.0,151,small,Cursed Land,yes,19.113862,Bob,1298829.0
24,6e32d46a,4/8/1603 5:31 AM,12/5/1612 5:42 AM,0.0,42.570615,5.490400,NaN,129.093289,69.237309,0.0,...,3.0,0.0,0.0,155,small,Servant's Premises,yes,16.031784,Bob,1307814.0
25,6e32d493,10/12/1606 8:17 PM,3/9/1608 3:32 AM,0.0,24.684360,9.161377,NaN,81.939551,56.170727,0.0,...,4.0,0.0,0.0,151,small,The Mountains,yes,20.134738,Bob,1497142.0
26,6e32d49f,10/8/1600 5:36 PM,2/4/1612 7:52 PM,0.0,71.753065,39.952939,NaN,18.206663,4.047991,0.0,...,2.0,0.0,0.0,120,small,The Mountains,yes,50.871204,Bob,1296271.0
27,6e32d4dd,3/4/1606 7:37 AM,5/23/1608 4:45 PM,NaN,22.060342,16.090119,8.102772,146.852007,4.032337,0.0,...,2.0,0.0,0.0,144,small,NaN,yes,26.440610,Bob,1552937.0
28,6e32d4fa,6/3/1602 4:18 AM,12/21/1611 5:22 AM,NaN,19.373454,105.408838,112.774373,111.202407,18.147350,1.0,...,2.0,0.0,0.0,55,small,The Mountains,yes,116.378343,Bob,972645.0
29,6e32d5b6,9/11/1606 6:30 PM,5/13/1609 9:42 AM,0.0,72.979347,68.347073,66.602162,21.463548,14.622076,0.0,...,4.0,0.0,0.0,92,small,NaN,yes,78.594989,Bob,1263279.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16470,6e33ca7d,5/28/1604 6:20 PM,8/22/1609 9:38 AM,0.0,30.657471,2.536759,NaN,84.827574,3.143070,0.0,...,2.0,0.0,0.0,157,small,The Mountains,yes,12.738346,Not_Known,1549094.0
16471,6e33caa1,6/3/1601 3:28 AM,9/17/1612 6:57 PM,0.0,99.469401,16.932893,17.411612,22.852787,9.684995,0.0,...,3.0,0.0,0.0,143,huge,Servant's Premises,NaN,27.324746,Not_Known,1369182.0
16472,6e33cb16,6/6/1605 2:28 AM,5/28/1609 2:53 AM,0.0,17.470493,29.472796,68.684736,110.844621,25.875609,0.0,...,3.0,0.0,0.0,131,small,Servant's Premises,yes,39.474687,Not_Known,1385999.0
16473,6e33cb4d,11/14/1601 8:19 AM,7/28/1609 1:22 PM,0.0,36.962348,12.206898,32.190630,6.813486,81.591443,0.0,...,4.0,0.0,0.0,148,small,The Mountains,yes,22.612306,Not_Known,1420992.0
16474,6e33cb5e,1/14/1601 2:50 AM,9/23/1609 7:54 AM,0.0,42.282734,18.770951,14.550977,241.366480,2.994704,0.0,...,4.0,0.0,NaN,141,small,The Mountains,yes,29.093670,Not_Known,1449622.0
16475,6e33cb60,6/5/1602 11:41 PM,3/7/1611 6:44 PM,0.0,139.063956,7.061776,41.158186,152.468960,2.720305,0.0,...,2.0,0.0,0.0,153,small,King's Landing,yes,17.240812,Not_Known,1421919.0
16476,6e33cb7c,9/4/1604 8:42 AM,3/17/1607 2:40 AM,0.0,74.692066,38.905789,11.267211,78.676374,60.947632,1.0,...,2.0,0.0,0.0,121,small,The Mountains,yes,49.341549,Not_Known,1441461.0
16477,6e33cb86,5/28/1606 6:35 PM,11/21/1609 9:44 AM,0.0,10.935979,50.812362,19.197435,111.811551,13.884591,0.0,...,4.0,0.0,0.0,109,small,The Mountains,yes,61.214650,Not_Known,1347653.0
16478,6e33cbb1,3/13/1601 2:22 PM,4/14/1607 1:37 PM,1.0,17.590463,19.186257,39.903031,13.241659,30.948410,0.0,...,2.0,NaN,1.0,141,no,The Mountains,NaN,30.003061,Not_Known,1332800.0
16479,6e33cbb5,3/18/1602 9:23 AM,6/22/1609 6:59 PM,0.0,43.917540,57.335988,14.446724,16.863760,30.182791,0.0,...,2.0,0.0,0.0,103,huge,The Mountains,yes,68.127007,Not_Known,1318350.0
16480,6e33cc12,1/24/1603 10:52 AM,5/24/1610 12:17 PM,NaN,33.172609,14.177629,32.721000,119.591150,25.535113,0.0,...,4.0,0.0,0.0,146,small,NaN,yes,24.760522,Not_Known,1437491.0
16481,6e33cc75,7/3/1604 7:16 AM,3/5/1610 8:14 AM,0.0,15.042323,20.684047,13.082454,22.923540,29.119976,NaN,...,NaN,0.0,0.0,139,small,Cursed Land,yes,31.003452,Not_Known,1431466.0
16482,6e33ccc8,12/20/1602 9:37 PM,1/22/1611 1:46 AM,0.0,9.998108,36.098841,40.844168,80.601922,25.281236,0.0,...,3.0,0.0,0.0,124,small,The Mountains,yes,46.583222,Not_Known,1356762.0
16483,6e33ccd7,1/20/1600 8:49 PM,5/12/1612 1:53 PM,0.0,24.469254,NaN,12.792692,65.223971,9.178285,0.0,...,2.0,0.0,0.0,74,small,Cursed Land,yes,NaN,Not_Known,1283301.0
16484,6e33ccf7,1/28/1605 9:37 PM,7/10/1611 3:20 PM,0.0,NaN,9.414936,0.956620,78.523320,19.159510,NaN,...,3.0,0.0,0.0,151,small,NaN,yes,20.315303,Not_Known,1537864.0
16485,6e33cd84,7/19/1602 8:43 PM,5/12/1610 8:43 PM,1.0,120.419971,17.680212,NaN,171.538744,14.527558,0.0,...,3.0,NaN,0.0,142,no,The Mountains,yes,28.318204,Not_Known,1346292.0
16486,6e33cd8a,11/16/1603 8:26 AM,6/23/1610 4:49 PM,0.0,NaN,7.271705,NaN,43.719049,39.013951,0.0,...,3.0,0.0,0.0,153,small,Servant's Premises,yes,17.497838,Not_Known,1431589.0
16487,6e33cd98,1/27/1604 11:35 AM,9/19/1609 1:53 PM,0.0,NaN,16.231699,27.426882,54.733466,14.883636,0.0,...,4.0,0.0,1.0,144,small,The Mountains,NaN,26.610454,Not_Known,1434931.0
16488,6e33cdda,11/18/1600 10:14 AM,5/8/1609 3:45 AM,0.0,23.339162,31.533312,44.736495,137.082743,5.664100,0.0,...,3.0,0.0,0.0,128,small,Servant's Premises,yes,41.790338,Not_Known,1330476.0
16489,6e33ce1f,4/18/1605 6:15 PM,3/22/1607 10:18 PM,0.0,86.360066,22.856438,8.228416,2.401613,24.964133,0.0,...,2.0,0.0,0.0,137,small,The Mountains,yes,33.172215,Not_Known,1513751.0
16490,6e33ce5b,11/15/1601 7:40 AM,5/25/1608 9:37 AM,0.0,26.814015,15.915382,82.475048,145.564202,27.257896,1.0,...,4.0,0.0,0.0,144,small,The Mountains,yes,26.907068,Not_Known,1358390.0
16491,6e33ce6f,8/24/1604 7:33 AM,2/23/1607 10:47 AM,NaN,7.323182,11.206185,118.613881,93.716156,20.647871,0.0,...,4.0,0.0,NaN,149,huge,King's Landing,yes,21.491293,Not_Known,1532849.0
16492,6e33cec1,11/4/1604 8:10 PM,11/11/1610 3:36 AM,0.0,92.556214,74.141476,8.017215,55.155709,3.834696,0.0,...,3.0,0.0,0.0,86,small,The Mountains,NaN,84.919473,Not_Known,1199874.0
16493,6e33cef7,9/4/1600 12:35 AM,11/18/1609 3:17 AM,0.0,7.697682,NaN,18.341251,11.298630,52.983671,0.0,...,3.0,0.0,0.0,74,small,Servant's Premises,yes,NaN,Not_Known,1363981.0
16494,6e33cf3b,2/23/1606 12:29 AM,2/25/1610 11:11 PM,0.0,35.647763,57.747171,49.035821,89.130396,16.280123,0.0,...,4.0,0.0,0.0,102,small,The Mountains,yes,68.259801,Not_Known,1350290.0
16495,6e33cf48,5/10/1602 1:33 AM,5/13/1610 11:50 PM,0.0,102.037909,23.606728,23.774670,38.123582,14.412248,0.0,...,2.0,0.0,0.0,136,small,NaN,yes,34.379008,Not_Known,1411124.0
16496,6e33cf68,7/28/1601 5:44 AM,7/16/1612 4:10 PM,0.0,65.207136,7.969132,68.608155,129.336333,76.952029,1.0,...,4.0,0.0,0.0,152,small,The Mountains,yes,18.340307,Not_Known,1336256.0
16497,6e33cf98,8/11/1604 8:22 AM,10/9/1611 6:25 AM,0.0,21.020459,51.663832,NaN,167.737835,8.735080,0.0,...,4.0,0.0,NaN,108,small,King's Landing,yes,62.562426,Not_Known,1349513.0
16498,6e33cff0,1/5/1600 11:22 AM,7/1/1609 4:12 PM,0.0,NaN,45.507866,NaN,44.626784,30.435220,0.0,...,NaN,0.0,0.0,114,huge,King's Landing,yes,55.563000,Not_Known,1311532.0
16499,6e33d017,5/18/1601 8:29 PM,5/14/1607 3:43 AM,1.0,70.714679,93.758943,91.307022,200.095127,26.839645,0.0,...,3.0,NaN,0.0,66,no,The Mountains,NaN,104.479135,Not_Known,1006449.0

In [167]:
type(df)

pandas.core.frame.DataFrame

In [84]:
df.house_id=df.house_id.astype(str)

In [92]:
df.dtypes

house_id          object
buid_date         object
date_priced       object
garden           float64
dst_dock         float64
dst_capital      float64
dst_mkt          float64
dst_tower        float64
dst_river        float64
renovation       float64
dining_rooms     float64
bedrooms         float64
bathrooms        float64
king_visit       float64
curse            float64
king_blessing      int64
farm_land         object
locations         object
holy_tree         object
dst_knight       float64
builder           object
dtype: object

In [93]:
price.dtypes

house_id     object
price       float64
dtype: object

In [94]:
type(df['house_id'])

pandas.core.series.Series

In [135]:
train_data=pd.merge(df,price,how='inner',on=['house_id'])

In [136]:
train_data

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder, price]
Index: []

[0 rows x 22 columns]

In [74]:
train_data

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder, price]
Index: []

[0 rows x 22 columns]

In [67]:
train_data

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder, price]
Index: []

[0 rows x 22 columns]

In [14]:
dfmake_csv('Bob.txt')

make_csv('Bright_Brothers.txt')

make_csv('Masters_of_Stones.txt')

make_csv('Not_Known.txt')

make_csv('The_Greens.txt')

make_csv('The_Kings.txt')

make_csv('The_Lannisters.txt')

make_csv('The_Ollivers.txt')

make_csv('The_Overlords.txt')

make_csv('The_Starks.txt')

make_csv('Wood_Priests.txt')

In [12]:
df

,house_id,buid_date,date_priced,garden,dst_dock,dst_capital,dst_mkt,dst_tower,dst_river,renovation,dining_rooms,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,dst_knight
0,6e32cec0,4/21/1602 12:41 AM,7/9/1609 1:11 AM,0,138.600639,0.256239,69.486467,14.394903,63.109038,0,3,4,NaN,0,0,160,small,King's Landing,yes,10.505662
1,6e32ceda,10/23/1603 11:14 PM,10/21/1611 7:40 AM,0,10.998322,122.930753,63.794375,53.019891,17.045949,0,4,3,3,0,0,37,huge,The Mountains,yes,132.934312
2,6e32cf09,3/18/1603 3:53 AM,5/17/1610 9:36 PM,0,52.819705,80.970959,96.656914,70.965631,6.548119,0,2,2,3,0,0,79,small,Cursed Land,yes,91.425357
3,6e32cfa9,8/18/1606 12:23 AM,1/20/1608 10:45 AM,0,82.283966,4.331436,29.043012,119.126593,24.298255,0,NaN,2,3,0,1,156,small,Cursed Land,no,14.695102
4,6e32cfb7,9/11/1603 11:53 AM,5/20/1611 4:49 PM,0,34.524141,NaN,6.740951,222.341302,1.821655,0,4,2,4,0,0,74,small,The Mountains,yes,NaN
5,6e32cfd5,6/13/1601 1:25 PM,6/19/1611 4:13 AM,NaN,38.877415,25.065928,NaN,76.196189,1.257721,0,3,3,3,0,0,135,huge,Servant's Premises,NaN,35.568437
6,6e32d0c0,1/19/1606 12:50 PM,10/27/1610 9:13 PM,0,35.988844,4.570255,67.579542,157.877738,15.756025,0,2,3,4,0,0,155,small,The Mountains,yes,15.068711
7,6e32d0f3,11/22/1606 11:22 PM,1/13/1611 11:32 AM,0,83.914728,107.184545,57.067604,147.898157,55.592034,0,2,4,4,0,1,53,small,The Mountains,NaN,117.410316
8,6e32d166,1/7/1602 3:34 AM,1/2/1607 3:19 PM,0,64.288283,101.610694,NaN,204.669501,60.009117,0,2,4,3,0,0,58,small,The Mountains,yes,112.494554
9,6e32d234,6/25/1605 8:26 AM,3/11/1608 8:21 PM,0,59.504656,29.541134,3.366960,63.397907,21.391704,0,4,3,3,0,0,130,huge,King's Landing,yes,40.454345
10,6e32d244,3/22/1604 2:45 AM,10/8/1610 6:15 AM,0,74.890453,17.524012,NaN,86.880636,77.993602,0,NaN,4,3,0,0,142,small,King's Landing,yes,27.655990
11,6e32d266,3/21/1603 7:45 AM,9/11/1611 1:14 PM,0,1.624838,55.126870,NaN,163.885000,16.102894,1,NaN,4,4,0,1,105,small,King's Landing,no,65.487434
12,6e32d280,9/12/1601 6:51 AM,3/3/1608 5:42 PM,0,13.140060,23.920629,7.363083,154.780872,15.867466,0,3,4,2,0,0,136,small,King's Landing,yes,34.604391
13,6e32d28a,2/15/1606 8:48 AM,1/11/1608 9:13 AM,1,25.738221,67.262718,31.834800,84.042989,7.106701,0,4,3,4,NaN,0,93,no,King's Landing,yes,77.441446
14,6e32d2e0,9/19/1604 5:28 PM,10/19/1608 3:28 PM,0,86.072564,85.923206,85.563521,146.862456,12.638273,0,2,2,3,0,1,74,small,Cursed Land,NaN,96.737140
15,6e32d315,3/7/1602 2:21 AM,5/18/1607 11:32 AM,0,51.245386,22.260774,9.938782,96.415385,5.789836,0,NaN,NaN,3,0,0,138,huge,NaN,NaN,33.157025
16,6e32d328,12/6/1606 11:19 PM,10/10/1609 12:11 PM,0,34.410733,16.638938,NaN,50.512115,15.009420,1,2,4,4,0,1,143,small,The Mountains,no,27.320449
17,6e32d349,11/3/1602 2:22 PM,8/2/1609 1:28 PM,1,67.171839,73.733494,22.279648,104.567561,43.619874,0,3,2,3,NaN,0,86,no,The Mountains,NaN,84.146593
18,6e32d3a6,12/15/1606 9:36 PM,9/7/1609 12:40 PM,0,61.212460,58.817801,5.643314,160.459915,41.915869,0,2,4,2,0,0,101,small,The Mountains,yes,69.088692
19,6e32d3ad,2/5/1603 6:27 PM,9/15/1610 10:47 AM,0,8.423696,3.031959,31.432316,10.970801,21.169758,1,2,3,2,0,0,157,small,The Mountains,yes,13.114153
20,6e32d3f6,4/10/1604 6:55 PM,1/18/1611 3:36 PM,0,NaN,26.820090,34.978795,91.361455,41.862843,0,3,2,4,0,0,133,small,The Mountains,NaN,37.442226
21,6e32d414,8/9/1601 4:52 PM,5/12/1607 5:32 PM,0,57.714600,6.002568,47.348837,32.106155,2.870670,0,4,3,NaN,0,0,154,small,The Mountains,yes,16.567206
22,6e32d456,8/7/1603 12:42 PM,12/20/1607 10:42 AM,0,15.523291,153.360600,32.174217,NaN,33.493852,0,NaN,4,4,0,1,7,huge,King's Landing,yes,163.658437
23,6e32d460,8/24/1603 3:24 PM,11/28/1612 11:28 PM,NaN,NaN,8.760628,124.305272,30.021297,15.976977,1,3,2,NaN,0,0,151,small,Cursed Land,yes,19.113862
24,6e32d46a,4/8/1603 5:31 AM,12/5/1612 5:42 AM,0,42.570615,5.490400,NaN,129.093289,69.237309,0,2,2,3,0,0,155,small,Servant's Premises,yes,16.031784
25,6e32d493,10/12/1606 8:17 PM,3/9/1608 3:32 AM,0,24.684360,9.161377,NaN,81.939551,56.170727,0,2,3,4,0,0,151,small,The Mountains,yes,20.134738
26,6e32d49f,10/8/1600 5:36 PM,2/4/1612 7:52 PM,0,71.753065,39.952939,NaN,18.206663,4.047991,0,4,2,2,0,0,120,small,The Mountains,yes,50.871204
27,6e32d4dd,3/4/1606 7:37 AM,5/23/1608 4:45 PM,NaN,22.060342,16.090119,8.102772,146.852007,4.032337,0,2,4,2,0,0,144,small,NaN,yes,26.440610
28,6e32d4fa,6/3/1602 4:18 AM,12/21/1611 5:22 AM,NaN,19.373454,105.408838,112.774373,111.202407,18.147350,1,3,3,2,0,0,55,small,The Mountains,yes,116.378343
29,6e32d5b6,9/11/1606 6:30 PM,5/13/1609 9:42 AM,0,72.979347,68.347073,66.602162,21.463548,14.622076,0,4,2,4,0,0,92,small,NaN,yes,78.594989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262,6e33feec,2/11/1602 1:58 PM,5/1/1607 2:46 AM,0,25.807039,10.521917,36.270729,126.369000,42.763078,0,2,3,4,0,0,149,small,NaN,yes,21.284518
1263,6e33fef7,4/18/1605 1:57 PM,2/5/1608 6:13 AM,0,15.448764,1.495247,20.631346,10.938334,31.161680,0,2,3,4,0,NaN,159,small,The Mountains,yes,11.929017
1264,6e33ff63,3/3/1600 8:11 PM,1/16/1608 12:51 AM,0,48.523065,52.210994,39.476450,150.557051,5.294121,0,3,4,2,0,0,108,huge,Servant's Premises,yes,62.925105
1265,6e33ff8a,1/27/1603 7:42 AM,7/6/1608 8:12 AM,1,28.301090,26.801317,10.828550,231.079835,16.602135,0,2,2,4,NaN,0,133,no,The Mountains,NaN,37.000942
1266,6e33ffd6,4/14/1605 3:52 AM,6/8/1610 6:54 PM,0,36.010566,103.045366,72.674328,83.396688,48.706463,0,4,4,2,0,0,57,small,The Mountains,yes,113.353276
1267,6e34000c,10/23/1602 1:37 PM,10/13/1611 2:34 PM,0,16.487968,16.507493,NaN,108.253391,0.950005,0,3,4,2,0,0,143,small,Cursed Land,yes,27.505392
1268,6e340028,5/27/1605 3:24 PM,12/10/1608 5:50 AM,0,NaN,30.625423,80.891096,213.663117,5.004216,0,2,2,2,0,0,129,small,The Mountains,yes,41.436321
1269,6e34005c,9/12/1602 11:36 PM,11/17/1612 10:47 PM,1,92.653735,19.187289,57.188171,21.304000,22.544622,1,2,4,2,NaN,0,141,no,The Mountains,NaN,29.983145
1270,6e3400a3,10/5/1605 5:47 PM,4/2/1612 1:35 AM,0,34.243402,45.316514,16.284983,170.981733,16.536829,0,3,4,3,0,0,115,huge,King's Landing,yes,55.965340
1271,6e3400c6,11/17/1603 7:45 PM,5/15/1609 8:59 PM,0,20.869968,8.680130,NaN,139.016541,13.541751,1,3,4,NaN,0,0,151,small,Servant's Premises,yes,19.559170
1272,6e3400f3,2/2/1603 9:21 PM,3/10/1608 11:16 PM,0,NaN,NaN,20.993669,102.740355,10.136884,0,3,3,2,0,0,74,small,The Mountains,yes,NaN
1273,6e34014f,7/8/1606 3:29 AM,2/12/1610 7:56 AM,0,NaN,NaN,7.106595,192.888575,32.510827,0,4,3,3,0,0,74,small,The Mountains,NaN,NaN
1274,6e34020b,12/8/1600 7:51 AM,11/10/1612 1:58 AM,0,40.158902,21.935677,79.453653,186.640406,20.992982,0,3,3,4,0,1,138,small,The Mountains,no,32.115729
1275,6e34026f,3/28/1602 11:21 PM,7/9/1608 2:40 AM,0,18.034686,37.831942,29.831901,45.191918,39.007274,0,4,3,4,0,NaN,122,small,King's Landing,NaN,48.014393
1276,6e340308,3/6/1604 11:11 PM,2/1/1610 6:56 PM,0,15.124016,3.226043,NaN,144.680337,29.702548,NaN,4,4,4,0,0,157,huge,The Mountains,NaN,13.675361
1277,6e3403d0,8/17/1600 1:29 PM,3/23/1612 9:38 PM,0,13.393512,NaN,33.115366,88.053337,1.277127,1,3,4,NaN,0,0,74,small,Servant's Premises,yes,NaN
1278,6e3403ea,1/3/1606 3:32 PM,3/12/1607 10:38 AM,0,NaN,0.759806,14.246569,198.298838,12.060572,NaN,2,2,2,0,0,159,small,Servant's Premises,yes,11.570912
1279,6e3403ef,6/4/1602 7:23 AM,7/15/1610 4:59 AM,0,48.268156,9.167005,8.745140,9.479860,13.985796,1,4,3,3,0,0,151,small,Cursed Land,yes,19.519263
1280,6e34041d,7/26/1606 12:59 AM,3/9/1612 1:43 AM,0,91.206208,72.297940,49.568586,102.861073,23.287478,1,4,3,4,0,0,88,small,Servant's Premises,yes,82.875164
1281,6e340459,12/19/1600 7:17 AM,1/26/1607 11:28 PM,0,17.633614,109.924878,58.126729,98.024978,47.261862,0,4,2,4,0,0,50,small,Cursed Land,yes,120.157040
1282,6e340468,4/20/1604 5:49 AM,12/19/1612 9:53 AM,NaN,28.518530,22.888814,99.697341,56.227878,29.288661,NaN,3,2,4,0,0,137,huge,The Mountains,yes,33.813312
1283,6e340492,1/27/1600 4:22 AM,8/18/1608 9:37 PM,0,17.412741,1.992817,5.768354,162.449349,24.636020,0,4,3,4,0,0,158,small,NaN,yes,12.519107
1284,6e3404ef,12/4/1603 3:26 AM,2/21/1607 11:55 AM,0,91.100562,134.097925,41.759106,52.515593,58.146696,0,2,2,NaN,0,0,26,huge,Servant's Premises,yes,145.076232
1285,6e34055d,1/14/1600 12:59 AM,9/13/1607 4:14 PM,0,NaN,52.409745,5.578910,115.401996,49.060839,0,4,2,2,0,0,108,huge,Cursed Land,NaN,62.904786
1286,6e3405f9,5/27/1602 1:54 AM,7/22/1608 7:55 AM,NaN,39.861595,73.673716,63.632812,135.829876,24.752097,0,2,4,4,0,1,86,huge,The Mountains,NaN,84.191685
1287,6e34062e,9/10/1603 8:59 PM,5/4/1609 5:52 PM,0,121.002264,5.751446,4.464836,NaN,22.413778,0,NaN,4,4,0,0,154,huge,The Mountains,yes,16.031548
1288,6e340672,7/24/1605 11:23 AM,1/22/1609 3:47 AM,0,38.166921,44.544301,42.665799,124.236139,11.195292,0,4,3,4,0,0,115,huge,The Mountains,yes,55.095656
1289,6e340684,6/22/1606 7:27 AM,5/7/1612 9:20 PM,1,89.205345,90.112103,27.662102,84.159738,10.952252,1,3,3,3,NaN,0,70,no,Servant's Premises,yes,100.754327
1290,6e34068a,8/9/1605 10:33 AM,6/12/1607 4:39 PM,0,NaN,27.739026,25.444972,264.087444,69.286130,0,4,2,3,0,0,132,small,NaN,yes,38.734999
1291,6e34068e,10/6/1602 9:23 AM,9/22/1608 7:18 AM,0,34.539659,23.303978,NaN,88.645344,23.978964,0,2,2,4,0,0,137,small,NaN,yes,33.965422

In [8]:
df

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder]
Index: []

[0 rows x 21 columns]

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder]
Index: []

[0 rows x 21 columns]

In [11]:
df

,house_id,buid_date,date_priced,garden,dst_dock,dst_capital,dst_mkt,dst_tower,dst_river,renovation,...,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,dst_knight,builder
builder,nvi,nvi,nvi,nvi,nvi,nvi,nvi,nvi,nvi,nvi,...,nvi,nvi,nvi,nvi,nvi,nvi,nvi,nvi,nvi,nvi

In [142]:
d1=price

In [238]:
#d1

In [140]:
d=df

In [141]:
d

,house_id,buid_date,date_priced,garden,dst_dock,dst_capital,dst_mkt,dst_tower,dst_river,renovation,...,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,dst_knight,builder
0,6e32cec0,4/21/1602 12:41 AM,7/9/1609 1:11 AM,0.0,138.600639,0.256239,69.486467,14.394903,63.109038,0.0,...,4.0,NaN,0.0,0.0,160,small,King's Landing,yes,10.505662,Bob
1,6e32ceda,10/23/1603 11:14 PM,10/21/1611 7:40 AM,0.0,10.998322,122.930753,63.794375,53.019891,17.045949,0.0,...,3.0,3.0,0.0,0.0,37,huge,The Mountains,yes,132.934312,Bob
2,6e32cf09,3/18/1603 3:53 AM,5/17/1610 9:36 PM,0.0,52.819705,80.970959,96.656914,70.965631,6.548119,0.0,...,2.0,3.0,0.0,0.0,79,small,Cursed Land,yes,91.425357,Bob
3,6e32cfa9,8/18/1606 12:23 AM,1/20/1608 10:45 AM,0.0,82.283966,4.331436,29.043012,119.126593,24.298255,0.0,...,2.0,3.0,0.0,1.0,156,small,Cursed Land,no,14.695102,Bob
4,6e32cfb7,9/11/1603 11:53 AM,5/20/1611 4:49 PM,0.0,34.524141,NaN,6.740951,222.341302,1.821655,0.0,...,2.0,4.0,0.0,0.0,74,small,The Mountains,yes,NaN,Bob
5,6e32cfd5,6/13/1601 1:25 PM,6/19/1611 4:13 AM,NaN,38.877415,25.065928,NaN,76.196189,1.257721,0.0,...,3.0,3.0,0.0,0.0,135,huge,Servant's Premises,NaN,35.568437,Bob
6,6e32d0c0,1/19/1606 12:50 PM,10/27/1610 9:13 PM,0.0,35.988844,4.570255,67.579542,157.877738,15.756025,0.0,...,3.0,4.0,0.0,0.0,155,small,The Mountains,yes,15.068711,Bob
7,6e32d0f3,11/22/1606 11:22 PM,1/13/1611 11:32 AM,0.0,83.914728,107.184545,57.067604,147.898157,55.592034,0.0,...,4.0,4.0,0.0,1.0,53,small,The Mountains,NaN,117.410316,Bob
8,6e32d166,1/7/1602 3:34 AM,1/2/1607 3:19 PM,0.0,64.288283,101.610694,NaN,204.669501,60.009117,0.0,...,4.0,3.0,0.0,0.0,58,small,The Mountains,yes,112.494554,Bob
9,6e32d234,6/25/1605 8:26 AM,3/11/1608 8:21 PM,0.0,59.504656,29.541134,3.366960,63.397907,21.391704,0.0,...,3.0,3.0,0.0,0.0,130,huge,King's Landing,yes,40.454345,Bob
10,6e32d244,3/22/1604 2:45 AM,10/8/1610 6:15 AM,0.0,74.890453,17.524012,NaN,86.880636,77.993602,0.0,...,4.0,3.0,0.0,0.0,142,small,King's Landing,yes,27.655990,Bob
11,6e32d266,3/21/1603 7:45 AM,9/11/1611 1:14 PM,0.0,1.624838,55.126870,NaN,163.885000,16.102894,1.0,...,4.0,4.0,0.0,1.0,105,small,King's Landing,no,65.487434,Bob
12,6e32d280,9/12/1601 6:51 AM,3/3/1608 5:42 PM,0.0,13.140060,23.920629,7.363083,154.780872,15.867466,0.0,...,4.0,2.0,0.0,0.0,136,small,King's Landing,yes,34.604391,Bob
13,6e32d28a,2/15/1606 8:48 AM,1/11/1608 9:13 AM,1.0,25.738221,67.262718,31.834800,84.042989,7.106701,0.0,...,3.0,4.0,NaN,0.0,93,no,King's Landing,yes,77.441446,Bob
14,6e32d2e0,9/19/1604 5:28 PM,10/19/1608 3:28 PM,0.0,86.072564,85.923206,85.563521,146.862456,12.638273,0.0,...,2.0,3.0,0.0,1.0,74,small,Cursed Land,NaN,96.737140,Bob
15,6e32d315,3/7/1602 2:21 AM,5/18/1607 11:32 AM,0.0,51.245386,22.260774,9.938782,96.415385,5.789836,0.0,...,NaN,3.0,0.0,0.0,138,huge,NaN,NaN,33.157025,Bob
16,6e32d328,12/6/1606 11:19 PM,10/10/1609 12:11 PM,0.0,34.410733,16.638938,NaN,50.512115,15.009420,1.0,...,4.0,4.0,0.0,1.0,143,small,The Mountains,no,27.320449,Bob
17,6e32d349,11/3/1602 2:22 PM,8/2/1609 1:28 PM,1.0,67.171839,73.733494,22.279648,104.567561,43.619874,0.0,...,2.0,3.0,NaN,0.0,86,no,The Mountains,NaN,84.146593,Bob
18,6e32d3a6,12/15/1606 9:36 PM,9/7/1609 12:40 PM,0.0,61.212460,58.817801,5.643314,160.459915,41.915869,0.0,...,4.0,2.0,0.0,0.0,101,small,The Mountains,yes,69.088692,Bob
19,6e32d3ad,2/5/1603 6:27 PM,9/15/1610 10:47 AM,0.0,8.423696,3.031959,31.432316,10.970801,21.169758,1.0,...,3.0,2.0,0.0,0.0,157,small,The Mountains,yes,13.114153,Bob
20,6e32d3f6,4/10/1604 6:55 PM,1/18/1611 3:36 PM,0.0,NaN,26.820090,34.978795,91.361455,41.862843,0.0,...,2.0,4.0,0.0,0.0,133,small,The Mountains,NaN,37.442226,Bob
21,6e32d414,8/9/1601 4:52 PM,5/12/1607 5:32 PM,0.0,57.714600,6.002568,47.348837,32.106155,2.870670,0.0,...,3.0,NaN,0.0,0.0,154,small,The Mountains,yes,16.567206,Bob
22,6e32d456,8/7/1603 12:42 PM,12/20/1607 10:42 AM,0.0,15.523291,153.360600,32.174217,NaN,33.493852,0.0,...,4.0,4.0,0.0,1.0,7,huge,King's Landing,yes,163.658437,Bob
23,6e32d460,8/24/1603 3:24 PM,11/28/1612 11:28 PM,NaN,NaN,8.760628,124.305272,30.021297,15.976977,1.0,...,2.0,NaN,0.0,0.0,151,small,Cursed Land,yes,19.113862,Bob
24,6e32d46a,4/8/1603 5:31 AM,12/5/1612 5:42 AM,0.0,42.570615,5.490400,NaN,129.093289,69.237309,0.0,...,2.0,3.0,0.0,0.0,155,small,Servant's Premises,yes,16.031784,Bob
25,6e32d493,10/12/1606 8:17 PM,3/9/1608 3:32 AM,0.0,24.684360,9.161377,NaN,81.939551,56.170727,0.0,...,3.0,4.0,0.0,0.0,151,small,The Mountains,yes,20.134738,Bob
26,6e32d49f,10/8/1600 5:36 PM,2/4/1612 7:52 PM,0.0,71.753065,39.952939,NaN,18.206663,4.047991,0.0,...,2.0,2.0,0.0,0.0,120,small,The Mountains,yes,50.871204,Bob
27,6e32d4dd,3/4/1606 7:37 AM,5/23/1608 4:45 PM,NaN,22.060342,16.090119,8.102772,146.852007,4.032337,0.0,...,4.0,2.0,0.0,0.0,144,small,NaN,yes,26.440610,Bob
28,6e32d4fa,6/3/1602 4:18 AM,12/21/1611 5:22 AM,NaN,19.373454,105.408838,112.774373,111.202407,18.147350,1.0,...,3.0,2.0,0.0,0.0,55,small,The Mountains,yes,116.378343,Bob
29,6e32d5b6,9/11/1606 6:30 PM,5/13/1609 9:42 AM,0.0,72.979347,68.347073,66.602162,21.463548,14.622076,0.0,...,2.0,4.0,0.0,0.0,92,small,NaN,yes,78.594989,Bob
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,6e33ff6c,5/8/1602 7:22 PM,12/18/1611 3:20 PM,0.0,43.988128,7.859531,21.864451,70.169710,8.716909,0.0,...,2.0,3.0,0.0,0.0,152,huge,The Mountains,NaN,18.341070,Not_Known
19971,6e33ffd0,6/27/1602 11:27 AM,5/26/1611 10:54 AM,0.0,124.277387,26.585604,NaN,23.141135,41.909185,0.0,...,3.0,2.0,0.0,0.0,133,small,Cursed Land,yes,37.358384,Not_Known
19972,6e33fff6,7/23/1605 6:35 PM,9/26/1607 11:52 AM,0.0,53.390747,63.005148,NaN,96.691951,5.611173,0.0,...,2.0,4.0,0.0,1.0,97,small,The Mountains,no,73.579822,Not_Known
19973,6e340075,1/23/1600 3:52 PM,1/20/1607 2:59 AM,0.0,NaN,87.177020,3.268224,53.992178,8.036161,NaN,...,2.0,4.0,0.0,0.0,73,huge,The Mountains,yes,97.838575,Not_Known
19974,6e3400ae,10/23/1603 8:10 PM,5/8/1612 11:10 AM,NaN,26.054461,47.626358,66.965467,139.241002,5.911792,0.0,...,4.0,2.0,0.0,1.0,112,small,NaN,no,58.549449,Not_Known
19975,6e3400cd,3/23/1605 11:31 AM,5/3/1609 2:54 AM,0.0,36.764007,NaN,100.310516,13.262089,22.809689,1.0,...,2.0,3.0,0.0,0.0,74,small,Cursed Land,yes,NaN,Not_Known
19976,6e3400e0,9/1/1605 10:18 PM,3/6/1608 8:41 AM,0.0,8.374054,77.933790,NaN,215.786697,46.236075,0.0,...,3.0,3.0,0.0,1.0,82,small,The Mountains,no,88.542992,Not_Known
19977,6e340134,5/27/1600 4:17 PM,6/14/1612 12:44 AM,NaN,37.489755,39.470206,28.780797,96.334130,40.832872,0.0,...,2.0,3.0,0.0,1.0,121,small,The Mountains,no,50.336458,Not_Known
19978,6e340146,12/14/1605 3:28 PM,11/17/1611 8:45 PM,0.0,123.529964,99.109084,35.156641,91.234207,11.236321,1.0,...,4.0,3.0,0.0,0.0,61,small,Cursed Land,yes,109.905160,Not_Known
19979,6e340186,6/16/1606 1:18 PM,3/9/1612 9:53 AM,0.0,37.350035,34.700940,40.661395,101.245153,47.070689,1.0,...,3.0,4.0,0.0,0.0,125,small,Cursed Land,NaN,45.347744,Not_Known
19980,6e340199,11/19/1601 10:22 AM,3/25/1607 9:59 PM,0.0,1.439561,65.764795,117.013179,76.933776,14.561020,1.0,...,4.0,4.0,0.0,0.0,94,small,The Mountains,NaN,76.430194,Not_Known
19981,6e3401bb,1/1/1602 12:22 PM,6/7/1608 10:27 PM,0.0,9.486588,66.890488,NaN,224.939349,62.399351,0.0,...,3.0,4.0,0.0,0.0,93,small,Cursed Land,yes,77.218555,Not_Known
19982,6e3401c9,12/20/1603 2:31 AM,12/21/1608 2:30 AM,0.0,101.479557,28.431351,10.801679,49.959949,26.927539,0.0,...,2.0,3.0,0.0,0.0,132,small,The Mountains,yes,39.099994,Not_Known
19983,6e3401cf,11/11/1602 11:18 PM,8/23/1609 11:18 AM,0.0,45.465833,43.115014,13.857624,141.113841,72.935126,NaN,...,3.0,4.0,0.0,0.0,117,small,Servant's Premises,NaN,53.405039,Not_Known
19984,6e3401fd,2/15/1605 6:14 AM,2/12/1611 7:29 AM,0.0,99.581267,NaN,NaN,181.437385,56.129210,0.0,...,4.0,3.0,0.0,0.0,74,huge,Servant's Premises,yes,NaN,Not_Known
19985,6e340221,6/7/1605 11:19 AM,8/19/1612 9:21 AM,0.0,65.987991,3.201807,60.092075,40.708045,42.848439,0.0,...,4.0,2.0,0.0,0.0,157,huge,The Mountains,yes,14.195460,Not_Known
19986,6e340269,9/16/1601 1:17 AM,4/22/1607 3:41 AM,NaN,NaN,34.494142,7.060097,38.394712,49.137866,0.0,...,4.0,2.0,0.0,0.0,126,small,King's Landing,yes,45.068376,Not_Known
19987,6e340290,11/18/1603 4:20 PM,7/21/1611 3:30 AM,0.0,NaN,44.508545,71.911093,91.017345,71.772719,0.0,...,3.0,2.0,0.0,0.0,115,huge,King's Landing,yes,54.530561,Not_Known
19988,6e3402ea,10/5/1606 10:22 AM,8/11/1609 7:20 AM,0.0,38.382462,99.189312,69.412063,99.356326,0.693121,0.0,...,3.0,2.0,0.0,0.0,61,huge,Servant's Premises,yes,109.454335,Not_Known
19989,6e340302,2/15/1601 5:12 PM,1/4/1610 5:22 AM,0.0,5.865003,NaN,53.304314,98.579682,26.439705,0.0,...,3.0,4.0,0.0,0.0,74,small,The Mountains,yes,NaN,Not_Known
19990,6e34040e,8/6/1602 8:58 AM,12/25/1611 12:46 AM,1.0,39.584799,17.051358,3.362392,131.398876,20.994317,0.0,...,4.0,2.0,NaN,0.0,143,no,Cursed Land,yes,27.601398,Not_Known
19991,6e34042b,5/18/1605 10:16 AM,7/22/1612 9:13 AM,0.0,46.070323,48.816069,35.953944,112.456075,51.427943,0.0,...,4.0,4.0,0.0,0.0,111,small,The Mountains,yes,59.509351,Not_Known
19992,6e340441,2/6/1601 2:41 AM,3/24/1612 12:11 AM,0.0,13.607102,4.520356,NaN,10.912678,4.941603,0.0,...,2.0,4.0,0.0,0.0,155,small,The Mountains,yes,15.082839,Not_Known
19993,6e340485,12/7/1606 8:52 AM,6/14/1608 8:53 AM,NaN,26.845788,22.562546,81.707208,190.624713,41.121714,1.0,...,4.0,2.0,0.0,0.0,137,small,The Mountains,yes,32.706382,Not_Known
19994,6e340508,3/22/1602 2:33 AM,4/24/1608 9:33 PM,NaN,130.562738,37.883623,35.477906,63.686645,48.193589,0.0,...,2.0,2.0,0.0,1.0,122,small,The Mountains,no,48.734068,Not_Known
19995,6e340547,5/11/1605 5:27 AM,7/16/1611 6:24 AM,1.0,NaN,39.517919,9.233525,144.212785,74.767604,0.0,...,4.0,4.0,NaN,0.0,120,no,The Mountains,NaN,49.841786,Not_Known
19996,6e340559,12/22/1606 3:51 AM,1/9/1612 2:24 AM,0.0,23.372989,30.191925,25.272276,218.128276,0.878784,0.0,...,4.0,2.0,0.0,0.0,130,huge,Cursed Land,yes,40.641315,Not_Known
19997,6e340598,4/8/1603 3:18 PM,5/19/1607 11:13 PM,0.0,50.918290,52.720016,2.679160,138.006993,42.989559,0.0,...,3.0,4.0,0.0,0.0,107,small,NaN,NaN,63.569968,Not_Known
19998,6e3405ec,7/4/1606 2:22 PM,4/8/1608 10:57 AM,0.0,14.498331,36.449596,113.572548,43.036401,54.055006,0.0,...,2.0,4.0,0.0,0.0,124,small,The Mountains,yes,47.215079,Not_Known
19999,6e340674,12/1/1602 11:29 AM,9/20/1609 7:41 AM,NaN,66.418102,112.655979,NaN,NaN,19.490151,1.0,...,2.0,3.0,0.0,0.0,47,small,Cursed Land,yes,122.692757,Not_Known

In [144]:
d=d.set_index('house_id')

In [145]:
d1=price

In [146]:
d1=d1.set_index('house_id')

In [147]:
d3=pd.concat([d1,d],axis=1,join='inner')

In [148]:
d3

Empty DataFrame
Columns: [price, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder]
Index: []

[0 rows x 21 columns]

In [149]:
type(price['house_id'])

pandas.core.series.Series

In [150]:
price=price.dropna()

In [152]:
d1.index

Index(['6e32cec0', '6e32cec4', '6e32cec9', '6e32cece', '6e32ced1', '6e32ced3',
       '6e32ced5', '6e32ced7', '6e32ceda', '6e32cedd',
       ...
       '6e33d00e', '6e33d012', '6e33d014', '6e33d017', '6e33d01b', '6e33d01e',
       '6e33d021', '6e33d027', '6e33d02b', '6e33d02f'],
      dtype='object', name='house_id', length=16500)

In [157]:
type(d1.index)

pandas.core.indexes.base.Index

In [164]:
train

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight, builder]
Index: []

[0 rows x 21 columns]

In [211]:
len(df.loc[0,'house_id'])

10

In [212]:
len(price.loc[0,'house_id'])

8

In [41]:
df['king_visit'].describe()

count     1174
unique       1
top          0
freq      1174
Name: king_visit, dtype: int64

In [45]:
data[7]

NameError: name 'data' is not defined

In [49]:
data[5:12]

['Distance from Royal Market is 69.486467 holy lights',
 'Distance from Guarding Tower is 14.394903 holy lights',
 'Distance from the River is 63.109038 holy lights',
 'The house did not undergo renovation',
 'There are 3 dining rooms',
 'There are 4 bedrooms',
 "King couldn't pay his visit to the house"]

In [51]:
x=data[11]

In [54]:
x.find('visited')

-1

In [61]:
to_df(data,df,0,'builder')

272   The great King Visited this house once !
350   The great King Visited this house once !
624   The great King Visited this house once !
680   The great King Visited this house once !
878   The great King Visited this house once !
899   The great King Visited this house once !
1064   The great King Visited this house once !
1685   The great King Visited this house once !
1806   The great King Visited this house once !
1865   The great King Visited this house once !
2005   The great King Visited this house once !
2064   The great King Visited this house once !
2202   The great King Visited this house once !
2278   The great King Visited this house once !
2316   The great King Visited this house once !
2355   The great King Visited this house once !
2376   The great King Visited this house once !
2414   The great King Visited this house once !
2654   The great King Visited this house once !
2792   The great King Visited this house once !
2850   The great King Visited this house once !
3097   The great King Visited this house once !
3138   The great King Visited this house once !
3258   The great King Visited this house once !
3357   The great King Visited this house once !
3622   The great King Visited this house once !
5124   The great King Visited this house once !
5286   The great King Visited this house once !
5444   The great King Visited this house once !
5961   The great King Visited this house once !
6360   The great King Visited this house once !
6804   The great King Visited this house once !
6864   The great King Visited this house once !
6885   The great King Visited this house once !
7304   The great King Visited this house once !
7344   The great King Visited this house once !
7677   The great King Visited this house once !
7717   The great King Visited this house once !
8062   The great King Visited this house once !
8119   The great King Visited this house once !
8320   The great King Visited this house once !
8597   The great King Visited this house once !
8891   The great King Visited this house once !
9193   The great King Visited this house once !
9847   The great King Visited this house once !
9965   The great King Visited this house once !
10708   The great King Visited this house once !
10745   The great King Visited this house once !
10902   The great King Visited this house once !
10942   The great King Visited this house once !
11137   The great King Visited this house once !
11529   The great King Visited this house once !
11810   The great King Visited this house once !
12140   The great King Visited this house once !
12404   The great King Visited this house once !
12567   The great King Visited this house once !
12802   The great King Visited this house once !
12884   The great King Visited this house once !
12904   The great King Visited this house once !
12983   The great King Visited this house once !
13003   The great King Visited this house once !
13235   The great King Visited this house once !
13497   The great King Visited this house once !
13612   The great King Visited this house once !
13650   The great King Visited this house once !
14235   The great King Visited this house once !
14353   The great King Visited this house once !
14512   The great King Visited this house once !
14655   The great King Visited this house once !
14939   The great King Visited this house once !
15081   The great King Visited this house once !
15324   The great King Visited this house once !
15541   The great King Visited this house once !
15659   The great King Visited this house once !
15968   The great King Visited this house once !
16063   The great King Visited this house once !
16081   The great King Visited this house once !
16363   The great King Visited this house once !
17090   The great King Visited this house once !
17273   The great King Visited this house once !
17749   The great King Visited this house once !
17808   The great King Visited this house once !
18181   The great King Visited this house once !
18263   The great King Visited this house once !
18366   The great King Visited this house once !
18468   The great King Visited this house once !
18548   The great King Visited this house once !
18883   The great King Visited this house once !
19681   The great King Visited this house once !
19702   The great King Visited this house once !
19722   The great King Visited this house once !
20122   The great King Visited this house once !
20246   The great King Visited this house once !
20285   The great King Visited this house once !
20324   The great King Visited this house once !
20793   The great King Visited this house once !
20850   The great King Visited this house once !
20967   The great King Visited this house once !
21005   The great King Visited this house once !
21239   The great King Visited this house once !
21400   The great King Visited this house once !
21796   The great King Visited this house once !
22011   The great King Visited this house once !
22146   The great King Visited this house once !
22248   The great King Visited this house once !
22287   The great King Visited this house once !
22386   The great King Visited this house once !
22563   The great King Visited this house once !
22784   The great King Visited this house once !
22920   The great King Visited this house once !
23080   The great King Visited this house once !
23199   The great King Visited this house once !
23258   The great King Visited this house once !
23278   The great King Visited this house once !
23639   The great King Visited this house once !
25084   The great King Visited this house once !
25165   The great King Visited this house once !
25555   The great King Visited this house once !

,house_id,buid_date,date_priced,garden,dst_dock,dst_capital,dst_mkt,dst_tower,dst_river,renovation,...,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,dst_knight,builder
0,6e32cec0,4/21/1602 12:41 AM,7/9/1609 1:11 AM,0,138.600639,0.256239,69.486467,14.394903,63.109038,0,...,4,NaN,0,0,160,small,King's Landing,yes,10.505662,data/Bob
1,6e32ceda,10/23/1603 11:14 PM,10/21/1611 7:40 AM,0,10.998322,122.930753,63.794375,53.019891,17.045949,0,...,3,3,0,0,37,huge,The Mountains,yes,132.934312,data/Bob
2,6e32cf09,3/18/1603 3:53 AM,5/17/1610 9:36 PM,0,52.819705,80.970959,96.656914,70.965631,6.548119,0,...,2,3,0,0,79,small,Cursed Land,yes,91.425357,data/Bob
3,6e32cfa9,8/18/1606 12:23 AM,1/20/1608 10:45 AM,0,82.283966,4.331436,29.043012,119.126593,24.298255,0,...,2,3,0,1,156,small,Cursed Land,no,14.695102,data/Bob
4,6e32cfb7,9/11/1603 11:53 AM,5/20/1611 4:49 PM,0,34.524141,NaN,6.740951,222.341302,1.821655,0,...,2,4,0,0,74,small,The Mountains,yes,NaN,data/Bob
5,6e32cfd5,6/13/1601 1:25 PM,6/19/1611 4:13 AM,NaN,38.877415,25.065928,NaN,76.196189,1.257721,0,...,3,3,0,0,135,huge,Servant's Premises,NaN,35.568437,data/Bob
6,6e32d0c0,1/19/1606 12:50 PM,10/27/1610 9:13 PM,0,35.988844,4.570255,67.579542,157.877738,15.756025,0,...,3,4,0,0,155,small,The Mountains,yes,15.068711,data/Bob
7,6e32d0f3,11/22/1606 11:22 PM,1/13/1611 11:32 AM,0,83.914728,107.184545,57.067604,147.898157,55.592034,0,...,4,4,0,1,53,small,The Mountains,NaN,117.410316,data/Bob
8,6e32d166,1/7/1602 3:34 AM,1/2/1607 3:19 PM,0,64.288283,101.610694,NaN,204.669501,60.009117,0,...,4,3,0,0,58,small,The Mountains,yes,112.494554,data/Bob
9,6e32d234,6/25/1605 8:26 AM,3/11/1608 8:21 PM,0,59.504656,29.541134,3.366960,63.397907,21.391704,0,...,3,3,0,0,130,huge,King's Landing,yes,40.454345,data/Bob
10,6e32d244,3/22/1604 2:45 AM,10/8/1610 6:15 AM,0,74.890453,17.524012,NaN,86.880636,77.993602,0,...,4,3,0,0,142,small,King's Landing,yes,27.655990,data/Bob
11,6e32d266,3/21/1603 7:45 AM,9/11/1611 1:14 PM,0,1.624838,55.126870,NaN,163.885000,16.102894,1,...,4,4,0,1,105,small,King's Landing,no,65.487434,data/Bob
12,6e32d280,9/12/1601 6:51 AM,3/3/1608 5:42 PM,0,13.140060,23.920629,7.363083,154.780872,15.867466,0,...,4,2,0,0,136,small,King's Landing,yes,34.604391,data/Bob
13,6e32d28a,2/15/1606 8:48 AM,1/11/1608 9:13 AM,1,25.738221,67.262718,31.834800,84.042989,7.106701,0,...,3,4,NaN,0,93,no,King's Landing,yes,77.441446,data/Bob
14,6e32d2e0,9/19/1604 5:28 PM,10/19/1608 3:28 PM,0,86.072564,85.923206,85.563521,146.862456,12.638273,0,...,2,3,0,1,74,small,Cursed Land,NaN,96.737140,data/Bob
15,6e32d315,3/7/1602 2:21 AM,5/18/1607 11:32 AM,0,51.245386,22.260774,9.938782,96.415385,5.789836,0,...,NaN,3,0,0,138,huge,NaN,NaN,33.157025,data/Bob
16,6e32d328,12/6/1606 11:19 PM,10/10/1609 12:11 PM,0,34.410733,16.638938,NaN,50.512115,15.009420,1,...,4,4,0,1,143,small,The Mountains,no,27.320449,data/Bob
17,6e32d349,11/3/1602 2:22 PM,8/2/1609 1:28 PM,1,67.171839,73.733494,22.279648,104.567561,43.619874,0,...,2,3,NaN,0,86,no,The Mountains,NaN,84.146593,data/Bob
18,6e32d3a6,12/15/1606 9:36 PM,9/7/1609 12:40 PM,0,61.212460,58.817801,5.643314,160.459915,41.915869,0,...,4,2,0,0,101,small,The Mountains,yes,69.088692,data/Bob
19,6e32d3ad,2/5/1603 6:27 PM,9/15/1610 10:47 AM,0,8.423696,3.031959,31.432316,10.970801,21.169758,1,...,3,2,0,0,157,small,The Mountains,yes,13.114153,data/Bob
20,6e32d3f6,4/10/1604 6:55 PM,1/18/1611 3:36 PM,0,NaN,26.820090,34.978795,91.361455,41.862843,0,...,2,4,0,0,133,small,The Mountains,NaN,37.442226,data/Bob
21,6e32d414,8/9/1601 4:52 PM,5/12/1607 5:32 PM,0,57.714600,6.002568,47.348837,32.106155,2.870670,0,...,3,NaN,0,0,154,small,The Mountains,yes,16.567206,data/Bob
22,6e32d456,8/7/1603 12:42 PM,12/20/1607 10:42 AM,0,15.523291,153.360600,32.174217,NaN,33.493852,0,...,4,4,0,1,7,huge,King's Landing,yes,163.658437,data/Bob
23,6e32d460,8/24/1603 3:24 PM,11/28/1612 11:28 PM,NaN,NaN,8.760628,124.305272,30.021297,15.976977,1,...,2,NaN,0,0,151,small,Cursed Land,yes,19.113862,data/Bob
24,6e32d46a,4/8/1603 5:31 AM,12/5/1612 5:42 AM,0,42.570615,5.490400,NaN,129.093289,69.237309,0,...,2,3,0,0,155,small,Servant's Premises,yes,16.031784,data/Bob
25,6e32d493,10/12/1606 8:17 PM,3/9/1608 3:32 AM,0,24.684360,9.161377,NaN,81.939551,56.170727,0,...,3,4,0,0,151,small,The Mountains,yes,20.134738,data/Bob
26,6e32d49f,10/8/1600 5:36 PM,2/4/1612 7:52 PM,0,71.753065,39.952939,NaN,18.206663,4.047991,0,...,2,2,0,0,120,small,The Mountains,yes,50.871204,data/Bob
27,6e32d4dd,3/4/1606 7:37 AM,5/23/1608 4:45 PM,NaN,22.060342,16.090119,8.102772,146.852007,4.032337,0,...,4,2,0,0,144,small,NaN,yes,26.440610,data/Bob
28,6e32d4fa,6/3/1602 4:18 AM,12/21/1611 5:22 AM,NaN,19.373454,105.408838,112.774373,111.202407,18.147350,1,...,3,2,0,0,55,small,The Mountains,yes,116.378343,data/Bob
29,6e32d5b6,9/11/1606 6:30 PM,5/13/1609 9:42 AM,0,72.979347,68.347073,66.602162,21.463548,14.622076,0,...,2,4,0,0,92,small,NaN,yes,78.594989,data/Bob
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1263,6e33fef7,4/18/1605 1:57 PM,2/5/1608 6:13 AM,0,15.448764,1.495247,20.631346,10.938334,31.161680,0,...,3,4,0,NaN,159,small,The Mountains,yes,11.929017,data/Bob
1264,6e33ff63,3/3/1600 8:11 PM,1/16/1608 12:51 AM,0,48.523065,52.210994,39.476450,150.557051,5.294121,0,...,4,2,0,0,108,huge,Servant's Premises,yes,62.925105,data/Bob
1265,6e33ff8a,1/27/1603 7:42 AM,7/6/1608 8:12 AM,1,28.301090,26.801317,10.828550,231.079835,16.602135,0,...,2,4,NaN,0,133,no,The Mountains,NaN,37.000942,data/Bob
1266,6e33ffd6,4/14/1605 3:52 AM,6/8/1610 6:54 PM,0,36.010566,103.045366,72.674328,83.396688,48.706463,0,...,4,2,0,0,57,small,The Mountains,yes,113.353276,data/Bob
1267,6e34000c,10/23/1602 1:37 PM,10/13/1611 2:34 PM,0,16.487968,16.507493,NaN,108.253391,0.950005,0,...,4,2,0,0,143,small,Cursed Land,yes,27.505392,data/Bob
1268,6e340028,5/27/1605 3:24 PM,12/10/1608 5:50 AM,0,NaN,30.625423,80.891096,213.663117,5.004216,0,...,2,2,0,0,129,small,The Mountains,yes,41.436321,data/Bob
1269,6e34005c,9/12/1602 11:36 PM,11/17/1612 10:47 PM,1,92.653735,19.187289,57.188171,21.304000,22.544622,1,...,4,2,NaN,0,141,no,The Mountains,NaN,29.983145,data/Bob
1270,6e3400a3,10/5/1605 5:47 PM,4/2/1612 1:35 AM,0,34.243402,45.316514,16.284983,170.981733,16.536829,0,...,4,3,0,0,115,huge,King's Landing,yes,55.965340,data/Bob
1271,6e3400c6,11/17/1603 7:45 PM,5/15/1609 8:59 PM,0,20.869968,8.680130,NaN,139.016541,13.541751,1,...,4,NaN,0,0,151,small,Servant's Premises,yes,19.559170,data/Bob
1272,6e3400f3,2/2/1603 9:21 PM,3/10/1608 11:16 PM,0,NaN,NaN,20.993669,102.740355,10.136884,0,...,3,2,0,0,74,small,The Mountains,yes,NaN,data/Bob
1273,6e34014f,7/8/1606 3:29 AM,2/12/1610 7:56 AM,0,NaN,NaN,7.106595,192.888575,32.510827,0,...,3,3,0,0,74,small,The Mountains,NaN,NaN,data/Bob
1274,6e34020b,12/8/1600 7:51 AM,11/10/1612 1:58 AM,0,40.158902,21.935677,79.453653,186.640406,20.992982,0,...,3,4,0,1,138,small,The Mountains,no,32.115729,data/Bob
1275,6e34026f,3/28/1602 11:21 PM,7/9/1608 2:40 AM,0,18.034686,37.831942,29.831901,45.191918,39.007274,0,...,3,4,0,NaN,122,small,King's Landing,NaN,48.014393,data/Bob
1276,6e340308,3/6/1604 11:11 PM,2/1/1610 6:56 PM,0,15.124016,3.226043,NaN,144.680337,29.702548,NaN,...,4,4,0,0,157,huge,The Mountains,NaN,13.675361,data/Bob
1277,6e3403d0,8/17/1600 1:29 PM,3/23/1612 9:38 PM,0,13.393512,NaN,33.115366,88.053337,1.277127,1,...,4,NaN,0,0,74,small,Servant's Premises,yes,NaN,data/Bob
1278,6e3403ea,1/3/1606 3:32 PM,3/12/1607 10:38 AM,0,NaN,0.759806,14.246569,198.298838,12.060572,NaN,...,2,2,0,0,159,small,Servant's Premises,yes,11.570912,data/Bob
1279,6e3403ef,6/4/1602 7:23 AM,7/15/1610 4:59 AM,0,48.268156,9.167005,8.745140,9.479860,13.985796,1,...,3,3,0,0,151,small,Cursed Land,yes,19.519263,data/Bob
1280,6e34041d,7/26/1606 12:59 AM,3/9/1612 1:43 AM,0,91.206208,72.297940,49.568586,102.861073,23.287478,1,...,3,4,0,0,88,small,Servant's Premises,yes,82.875164,data/Bob
1281,6e340459,12/19/1600 7:17 AM,1/26/1607 11:28 PM,0,17.633614,109.924878,58.126729,98.024978,47.261862,0,...,2,4,0,0,50,small,Cursed Land,yes,120.157040,data/Bob
1282,6e340468,4/20/1604 5:49 AM,12/19/1612 9:53 AM,NaN,28.518530,22.888814,99.697341,56.227878,29.288661,NaN,...,2,4,0,0,137,huge,The Mountains,yes,33.813312,data/Bob
1283,6e340492,1/27/1600 4:22 AM,8/18/1608 9:37 PM,0,17.412741,1.992817,5.768354,162.449349,24.636020,0,...,3,4,0,0,158,small,NaN,yes,12.519107,data/Bob
1284,6e3404ef,12/4/1603 3:26 AM,2/21/1607 11:55 AM,0,91.100562,134.097925,41.759106,52.515593,58.146696,0,...,2,NaN,0,0,26,huge,Servant's Premises,yes,145.076232,data/Bob
1285,6e34055d,1/14/1600 12:59 AM,9/13/1607 4:14 PM,0,NaN,52.409745,5.578910,115.401996,49.060839,0,...,2,2,0,0,108,huge,Cursed Land,NaN,62.904786,data/Bob
1286,6e3405f9,5/27/1602 1:54 AM,7/22/1608 7:55 AM,NaN,39.861595,73.673716,63.632812,135.829876,24.752097,0,...,4,4,0,1,86,huge,The Mountains,NaN,84.191685,data/Bob
1287,6e34062e,9/10/1603 8:59 PM,5/4/1609 5:52 PM,0,121.002264,5.751446,4.464836,NaN,22.413778,0,...,4,4,0,0,154,huge,The Mountains,yes,16.031548,data/Bob
1288,6e340672,7/24/1605 11:23 AM,1/22/1609 3:47 AM,0,38.166921,44.544301,42.665799,124.236139,11.195292,0,...,3,4,0,0,115,huge,The Mountains,yes,55.095656,data/Bob
1289,6e340684,6/22/1606 7:27 AM,5/7/1612 9:20 PM,1,89.205345,90.112103,27.662102,84.159738,10.952252,1,...,3,3,NaN,0,70,no,Servant's Premises,yes,100.754327,data/Bob
1290,6e34068a,8/9/1605 10:33 AM,6/12/1607 4:39 PM,0,NaN,27.739026,25.444972,264.087444,69.286130,0,...,2,3,0,0,132,small,NaN,yes,38.734999,data/Bob
1291,6e34068e,10/6/1602 9:23 AM,9/22/1608 7:18 AM,0,34.539659,23.303978,NaN,88.645344,23.978964,0,...,2,4,0,0,137,small,NaN,yes,33.965422,data/Bob
0,6e34068e,10/6/1602 9:41 AM,9/22/1608 7:11 AM,0,34.539659,23.303978,25.444972,88.645344,23.978964,0,...,2,4,0,0,137,small,Servant's Premises,yes,33.965422,builder