# Preporcesssing raw data and making CSV files

In [1]:
import pandas as pd
import numpy as np

In [2]:
data=[line.rstrip() for line in open('Bob.txt') ]

In [3]:
col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight']

In [5]:
df=pd.DataFrame(columns=col)

#df

In [6]:
df

Empty DataFrame
Columns: [house_id, buid_date, date_priced, garden, dst_dock, dst_capital, dst_mkt, dst_tower, dst_river, renovation, dining_rooms, bedrooms, bathrooms, king_visit, curse, king_blessing, farm_land, locations, holy_tree, dst_knight]
Index: []

In [7]:
def to_df(arr,df,k):
    col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight']
    tmp=pd.DataFrame(columns=col)
    
    for i in range(0,len(arr)):
        if 'House ID' in arr[i]:
            tmp.loc[k,'house_id']=arr[i].split(':')[1]

        elif 'Date Built' in arr[i]:
            tmp.loc[k,'buid_date']=arr[i].split('and')[0].split(':')[1]+':'+ arr[1].split('and')[0].split(':')[2]
            tmp.loc[k,'date_priced']=arr[i].split('and')[1].split(':')[1]+':'+ arr[1].split('and')[1].split(':')[2]

        elif 'beautiful garden' in arr[i]:
            tmp.loc[k,'garden']=1

        elif 'no space' in arr[i]:
            tmp.loc[k,'garden']=0

        elif 'the Dock' in arr[i]:
            tmp.loc[k,'dst_dock']=arr[i].split()[arr[i].split().index('holy')-1]

        elif 'Capital' in arr[i]:
            tmp.loc[k,'dst_capital']=arr[i].split()[arr[i].split().index('holy')-1]

        elif 'Royal Market' in arr[i]:
            tmp.loc[k,'dst_mkt']=arr[i].split()[arr[i].split().index('holy')-1]

        elif 'Guarding Tower' in arr[i]:
            tmp.loc[k,'dst_tower']=arr[i].split()[arr[i].split().index('holy')-1]

        elif 'the River' in arr[i]:
            tmp.loc[k,'dst_river']=arr[i].split()[arr[i].split().index('holy')-1]


        elif 'not undergo' in arr[i]:
            tmp.loc[k,'renovation']=0
        elif 'underwent renovation' in arr[i]:
            tmp.loc[k,'renovation']=1

        elif 'dining rooms' in arr[i]:
            tmp.loc[k,'dining_rooms']=arr[i].split()[arr[i].split().index('are')+1]

        elif 'bedrooms' in arr[i]:
            tmp.loc[k,'bedrooms']=arr[i].split()[arr[i].split().index('are')+1]

        elif 'bathrooms' in arr[i]:
            tmp.loc[k,'bathrooms']=arr[i].split()[arr[i].split().index('are')+1]


        elif 'curse this house' in arr[i]: 
            tmp.loc[k,'curse']=0
        elif 'cursed' in arr[i]: 
            tmp.loc[k,'curse']=1

        elif 'pay his visit' in arr[i]: 
            tmp.loc[k,'king_visit']=0   
        elif 'visited' in arr[i]: 
            tmp.loc[k,'king_visit']=1

        elif 'blessed the house' in arr[i]:
            tmp.loc[k,'king_blessing']=arr[i].split()[arr[i].split().index('with')+1]

        elif 'land of farm' in arr[i]: 
            tmp.loc[k,'farm_land']=arr[i].split()[arr[i].split().index('land')-1]

        elif 'Location of the house' in arr[i]: 
            tmp.loc[k,'locations']=arr[i].split(':')[1]

        elif 'stands tall' in arr[i]: 
            tmp.loc[k,'holy_tree']='yes'
        elif 'tree was cut' in arr[i]: 
            tmp.loc[k,'holy_tree']='no'

        elif 'Knight\'s house' in arr[i]:
            tmp.loc[k,'dst_knight']=arr[i].split()[arr[i].split().index('holy')-1]

    #print(tmp)
    df=df.append(tmp)
    return df
pass

In [9]:
len(data)

25602

In [17]:
def make_csv(file_name):
    data=[line.rstrip() for line in open(file_name)]
    col=['house_id','buid_date','date_priced','garden','dst_dock','dst_capital','dst_mkt','dst_tower','dst_river','renovation','dining_rooms','bedrooms','bathrooms','king_visit','curse','king_blessing','farm_land','locations','holy_tree','dst_knight']
    df=pd.DataFrame(columns=col)
    
    i=0
    k=0
    while i <len(data):
        if 'House ID' in data[i]:
            l=i
            while data[i]!='':
                i=i+1
            r=i
            #print(k,data[l])
            df=to_df(data[l:r],df,k)
            k=k+1
        i=i+1
        
    file_csv=file_name.split('.')[0]+'.csv'
    df.to_csv(file_csv,index=None)
    print("CSV File Created!!! :))")
    return

In [14]:
make_csv('Bob.txt')

In [18]:
make_csv('Bright_Brothers.txt')

CSV File Created!!! :))

In [21]:
make_csv('Masters_of_Stones.txt')

CSV File Created!!! :))

In [22]:
make_csv('Not_Known.txt')

CSV File Created!!! :))

In [23]:
make_csv('The_Greens.txt')

CSV File Created!!! :))

In [24]:
make_csv('The_Kings.txt')

CSV File Created!!! :))

In [25]:
make_csv('The_Lannisters.txt')

CSV File Created!!! :))

In [26]:
make_csv('The_Ollivers.txt')

CSV File Created!!! :))

In [27]:
make_csv('The_Overlords.txt')

CSV File Created!!! :))

In [28]:
make_csv('The_Starks.txt')

CSV File Created!!! :))

In [29]:
make_csv('Wood_Priests.txt')

CSV File Created!!! :))

In [10]:
df.to_csv('Bob.csv',index=None)

In [12]:
df

,house_id,buid_date,date_priced,garden,dst_dock,dst_capital,dst_mkt,dst_tower,dst_river,renovation,dining_rooms,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,dst_knight
0,6e32cec0,4/21/1602 12:41 AM,7/9/1609 1:11 AM,0,138.600639,0.256239,69.486467,14.394903,63.109038,0,3,4,NaN,0,0,160,small,King's Landing,yes,10.505662
1,6e32ceda,10/23/1603 11:14 PM,10/21/1611 7:40 AM,0,10.998322,122.930753,63.794375,53.019891,17.045949,0,4,3,3,0,0,37,huge,The Mountains,yes,132.934312
2,6e32cf09,3/18/1603 3:53 AM,5/17/1610 9:36 PM,0,52.819705,80.970959,96.656914,70.965631,6.548119,0,2,2,3,0,0,79,small,Cursed Land,yes,91.425357
3,6e32cfa9,8/18/1606 12:23 AM,1/20/1608 10:45 AM,0,82.283966,4.331436,29.043012,119.126593,24.298255,0,NaN,2,3,0,1,156,small,Cursed Land,no,14.695102
4,6e32cfb7,9/11/1603 11:53 AM,5/20/1611 4:49 PM,0,34.524141,NaN,6.740951,222.341302,1.821655,0,4,2,4,0,0,74,small,The Mountains,yes,NaN
5,6e32cfd5,6/13/1601 1:25 PM,6/19/1611 4:13 AM,NaN,38.877415,25.065928,NaN,76.196189,1.257721,0,3,3,3,0,0,135,huge,Servant's Premises,NaN,35.568437
6,6e32d0c0,1/19/1606 12:50 PM,10/27/1610 9:13 PM,0,35.988844,4.570255,67.579542,157.877738,15.756025,0,2,3,4,0,0,155,small,The Mountains,yes,15.068711
7,6e32d0f3,11/22/1606 11:22 PM,1/13/1611 11:32 AM,0,83.914728,107.184545,57.067604,147.898157,55.592034,0,2,4,4,0,1,53,small,The Mountains,NaN,117.410316
8,6e32d166,1/7/1602 3:34 AM,1/2/1607 3:19 PM,0,64.288283,101.610694,NaN,204.669501,60.009117,0,2,4,3,0,0,58,small,The Mountains,yes,112.494554
9,6e32d234,6/25/1605 8:26 AM,3/11/1608 8:21 PM,0,59.504656,29.541134,3.366960,63.397907,21.391704,0,4,3,3,0,0,130,huge,King's Landing,yes,40.454345
10,6e32d244,3/22/1604 2:45 AM,10/8/1610 6:15 AM,0,74.890453,17.524012,NaN,86.880636,77.993602,0,NaN,4,3,0,0,142,small,King's Landing,yes,27.655990
11,6e32d266,3/21/1603 7:45 AM,9/11/1611 1:14 PM,0,1.624838,55.126870,NaN,163.885000,16.102894,1,NaN,4,4,0,1,105,small,King's Landing,no,65.487434
12,6e32d280,9/12/1601 6:51 AM,3/3/1608 5:42 PM,0,13.140060,23.920629,7.363083,154.780872,15.867466,0,3,4,2,0,0,136,small,King's Landing,yes,34.604391
13,6e32d28a,2/15/1606 8:48 AM,1/11/1608 9:13 AM,1,25.738221,67.262718,31.834800,84.042989,7.106701,0,4,3,4,NaN,0,93,no,King's Landing,yes,77.441446
14,6e32d2e0,9/19/1604 5:28 PM,10/19/1608 3:28 PM,0,86.072564,85.923206,85.563521,146.862456,12.638273,0,2,2,3,0,1,74,small,Cursed Land,NaN,96.737140
15,6e32d315,3/7/1602 2:21 AM,5/18/1607 11:32 AM,0,51.245386,22.260774,9.938782,96.415385,5.789836,0,NaN,NaN,3,0,0,138,huge,NaN,NaN,33.157025
16,6e32d328,12/6/1606 11:19 PM,10/10/1609 12:11 PM,0,34.410733,16.638938,NaN,50.512115,15.009420,1,2,4,4,0,1,143,small,The Mountains,no,27.320449
17,6e32d349,11/3/1602 2:22 PM,8/2/1609 1:28 PM,1,67.171839,73.733494,22.279648,104.567561,43.619874,0,3,2,3,NaN,0,86,no,The Mountains,NaN,84.146593
18,6e32d3a6,12/15/1606 9:36 PM,9/7/1609 12:40 PM,0,61.212460,58.817801,5.643314,160.459915,41.915869,0,2,4,2,0,0,101,small,The Mountains,yes,69.088692
19,6e32d3ad,2/5/1603 6:27 PM,9/15/1610 10:47 AM,0,8.423696,3.031959,31.432316,10.970801,21.169758,1,2,3,2,0,0,157,small,The Mountains,yes,13.114153
20,6e32d3f6,4/10/1604 6:55 PM,1/18/1611 3:36 PM,0,NaN,26.820090,34.978795,91.361455,41.862843,0,3,2,4,0,0,133,small,The Mountains,NaN,37.442226
21,6e32d414,8/9/1601 4:52 PM,5/12/1607 5:32 PM,0,57.714600,6.002568,47.348837,32.106155,2.870670,0,4,3,NaN,0,0,154,small,The Mountains,yes,16.567206
22,6e32d456,8/7/1603 12:42 PM,12/20/1607 10:42 AM,0,15.523291,153.360600,32.174217,NaN,33.493852,0,NaN,4,4,0,1,7,huge,King's Landing,yes,163.658437
23,6e32d460,8/24/1603 3:24 PM,11/28/1612 11:28 PM,NaN,NaN,8.760628,124.305272,30.021297,15.976977,1,3,2,NaN,0,0,151,small,Cursed Land,yes,19.113862
24,6e32d46a,4/8/1603 5:31 AM,12/5/1612 5:42 AM,0,42.570615,5.490400,NaN,129.093289,69.237309,0,2,2,3,0,0,155,small,Servant's Premises,yes,16.031784
25,6e32d493,10/12/1606 8:17 PM,3/9/1608 3:32 AM,0,24.684360,9.161377,NaN,81.939551,56.170727,0,2,3,4,0,0,151,small,The Mountains,yes,20.134738
26,6e32d49f,10/8/1600 5:36 PM,2/4/1612 7:52 PM,0,71.753065,39.952939,NaN,18.206663,4.047991,0,4,2,2,0,0,120,small,The Mountains,yes,50.871204
27,6e32d4dd,3/4/1606 7:37 AM,5/23/1608 4:45 PM,NaN,22.060342,16.090119,8.102772,146.852007,4.032337,0,2,4,2,0,0,144,small,NaN,yes,26.440610
28,6e32d4fa,6/3/1602 4:18 AM,12/21/1611 5:22 AM,NaN,19.373454,105.408838,112.774373,111.202407,18.147350,1,3,3,2,0,0,55,small,The Mountains,yes,116.378343
29,6e32d5b6,9/11/1606 6:30 PM,5/13/1609 9:42 AM,0,72.979347,68.347073,66.602162,21.463548,14.622076,0,4,2,4,0,0,92,small,NaN,yes,78.594989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1262,6e33feec,2/11/1602 1:58 PM,5/1/1607 2:46 AM,0,25.807039,10.521917,36.270729,126.369000,42.763078,0,2,3,4,0,0,149,small,NaN,yes,21.284518
1263,6e33fef7,4/18/1605 1:57 PM,2/5/1608 6:13 AM,0,15.448764,1.495247,20.631346,10.938334,31.161680,0,2,3,4,0,NaN,159,small,The Mountains,yes,11.929017
1264,6e33ff63,3/3/1600 8:11 PM,1/16/1608 12:51 AM,0,48.523065,52.210994,39.476450,150.557051,5.294121,0,3,4,2,0,0,108,huge,Servant's Premises,yes,62.925105
1265,6e33ff8a,1/27/1603 7:42 AM,7/6/1608 8:12 AM,1,28.301090,26.801317,10.828550,231.079835,16.602135,0,2,2,4,NaN,0,133,no,The Mountains,NaN,37.000942
1266,6e33ffd6,4/14/1605 3:52 AM,6/8/1610 6:54 PM,0,36.010566,103.045366,72.674328,83.396688,48.706463,0,4,4,2,0,0,57,small,The Mountains,yes,113.353276
1267,6e34000c,10/23/1602 1:37 PM,10/13/1611 2:34 PM,0,16.487968,16.507493,NaN,108.253391,0.950005,0,3,4,2,0,0,143,small,Cursed Land,yes,27.505392
1268,6e340028,5/27/1605 3:24 PM,12/10/1608 5:50 AM,0,NaN,30.625423,80.891096,213.663117,5.004216,0,2,2,2,0,0,129,small,The Mountains,yes,41.436321
1269,6e34005c,9/12/1602 11:36 PM,11/17/1612 10:47 PM,1,92.653735,19.187289,57.188171,21.304000,22.544622,1,2,4,2,NaN,0,141,no,The Mountains,NaN,29.983145
1270,6e3400a3,10/5/1605 5:47 PM,4/2/1612 1:35 AM,0,34.243402,45.316514,16.284983,170.981733,16.536829,0,3,4,3,0,0,115,huge,King's Landing,yes,55.965340
1271,6e3400c6,11/17/1603 7:45 PM,5/15/1609 8:59 PM,0,20.869968,8.680130,NaN,139.016541,13.541751,1,3,4,NaN,0,0,151,small,Servant's Premises,yes,19.559170
1272,6e3400f3,2/2/1603 9:21 PM,3/10/1608 11:16 PM,0,NaN,NaN,20.993669,102.740355,10.136884,0,3,3,2,0,0,74,small,The Mountains,yes,NaN
1273,6e34014f,7/8/1606 3:29 AM,2/12/1610 7:56 AM,0,NaN,NaN,7.106595,192.888575,32.510827,0,4,3,3,0,0,74,small,The Mountains,NaN,NaN
1274,6e34020b,12/8/1600 7:51 AM,11/10/1612 1:58 AM,0,40.158902,21.935677,79.453653,186.640406,20.992982,0,3,3,4,0,1,138,small,The Mountains,no,32.115729
1275,6e34026f,3/28/1602 11:21 PM,7/9/1608 2:40 AM,0,18.034686,37.831942,29.831901,45.191918,39.007274,0,4,3,4,0,NaN,122,small,King's Landing,NaN,48.014393
1276,6e340308,3/6/1604 11:11 PM,2/1/1610 6:56 PM,0,15.124016,3.226043,NaN,144.680337,29.702548,NaN,4,4,4,0,0,157,huge,The Mountains,NaN,13.675361
1277,6e3403d0,8/17/1600 1:29 PM,3/23/1612 9:38 PM,0,13.393512,NaN,33.115366,88.053337,1.277127,1,3,4,NaN,0,0,74,small,Servant's Premises,yes,NaN
1278,6e3403ea,1/3/1606 3:32 PM,3/12/1607 10:38 AM,0,NaN,0.759806,14.246569,198.298838,12.060572,NaN,2,2,2,0,0,159,small,Servant's Premises,yes,11.570912
1279,6e3403ef,6/4/1602 7:23 AM,7/15/1610 4:59 AM,0,48.268156,9.167005,8.745140,9.479860,13.985796,1,4,3,3,0,0,151,small,Cursed Land,yes,19.519263
1280,6e34041d,7/26/1606 12:59 AM,3/9/1612 1:43 AM,0,91.206208,72.297940,49.568586,102.861073,23.287478,1,4,3,4,0,0,88,small,Servant's Premises,yes,82.875164
1281,6e340459,12/19/1600 7:17 AM,1/26/1607 11:28 PM,0,17.633614,109.924878,58.126729,98.024978,47.261862,0,4,2,4,0,0,50,small,Cursed Land,yes,120.157040
1282,6e340468,4/20/1604 5:49 AM,12/19/1612 9:53 AM,NaN,28.518530,22.888814,99.697341,56.227878,29.288661,NaN,3,2,4,0,0,137,huge,The Mountains,yes,33.813312
1283,6e340492,1/27/1600 4:22 AM,8/18/1608 9:37 PM,0,17.412741,1.992817,5.768354,162.449349,24.636020,0,4,3,4,0,0,158,small,NaN,yes,12.519107
1284,6e3404ef,12/4/1603 3:26 AM,2/21/1607 11:55 AM,0,91.100562,134.097925,41.759106,52.515593,58.146696,0,2,2,NaN,0,0,26,huge,Servant's Premises,yes,145.076232
1285,6e34055d,1/14/1600 12:59 AM,9/13/1607 4:14 PM,0,NaN,52.409745,5.578910,115.401996,49.060839,0,4,2,2,0,0,108,huge,Cursed Land,NaN,62.904786
1286,6e3405f9,5/27/1602 1:54 AM,7/22/1608 7:55 AM,NaN,39.861595,73.673716,63.632812,135.829876,24.752097,0,2,4,4,0,1,86,huge,The Mountains,NaN,84.191685
1287,6e34062e,9/10/1603 8:59 PM,5/4/1609 5:52 PM,0,121.002264,5.751446,4.464836,NaN,22.413778,0,NaN,4,4,0,0,154,huge,The Mountains,yes,16.031548
1288,6e340672,7/24/1605 11:23 AM,1/22/1609 3:47 AM,0,38.166921,44.544301,42.665799,124.236139,11.195292,0,4,3,4,0,0,115,huge,The Mountains,yes,55.095656
1289,6e340684,6/22/1606 7:27 AM,5/7/1612 9:20 PM,1,89.205345,90.112103,27.662102,84.159738,10.952252,1,3,3,3,NaN,0,70,no,Servant's Premises,yes,100.754327
1290,6e34068a,8/9/1605 10:33 AM,6/12/1607 4:39 PM,0,NaN,27.739026,25.444972,264.087444,69.286130,0,4,2,3,0,0,132,small,NaN,yes,38.734999
1291,6e34068e,10/6/1602 9:23 AM,9/22/1608 7:18 AM,0,34.539659,23.303978,NaN,88.645344,23.978964,0,2,2,4,0,0,137,small,NaN,yes,33.965422