In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv('Not_Known.csv')

In [6]:
df.head()

,house_id,buid_date,date_priced,garden,dst_dock,dst_capital,dst_mkt,dst_tower,dst_river,renovation,dining_rooms,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,dst_knight
0,6e32cec9,5/5/1600 11:39 AM,6/10/1608 8:17 AM,0.0,6.555428,136.448973,78.445508,88.480988,72.245533,0.0,3.0,NaN,2.0,0.0,0.0,24,small,NaN,yes,146.553349
1,6e32cee9,2/11/1603 2:55 PM,5/23/1611 7:33 AM,NaN,38.977167,5.128739,44.068565,152.377106,20.965323,0.0,2.0,3.0,4.0,0.0,0.0,155,small,King's Landing,NaN,15.416810
2,6e32ceeb,9/28/1600 7:35 PM,2/12/1611 11:42 PM,0.0,135.364314,85.723029,NaN,48.236597,19.196820,0.0,2.0,2.0,4.0,0.0,0.0,74,small,The Mountains,NaN,96.158416
3,6e32cf70,8/24/1600 2:21 PM,8/22/1611 5:37 AM,0.0,NaN,61.604752,85.026054,111.073489,17.494191,NaN,3.0,3.0,3.0,0.0,0.0,98,huge,The Mountains,yes,72.449136
4,6e32cf8c,9/3/1606 3:11 AM,12/23/1607 5:57 PM,NaN,28.097092,24.365967,47.656262,27.190590,29.957674,0.0,3.0,4.0,3.0,0.0,0.0,136,small,The Mountains,yes,35.355721

In [8]:
df.count()

house_id         1393
buid_date        1393
date_priced      1393
garden           1209
dst_dock         1251
dst_capital      1323
dst_mkt          1184
dst_tower        1356
dst_river        1393
renovation       1248
dining_rooms     1257
bedrooms         1343
bathrooms        1318
king_visit       1283
curse            1315
king_blessing    1393
farm_land        1393
locations        1256
holy_tree        1126
dst_knight       1323
dtype: int64