In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import Imputer

In [2]:
def to_date2(row):
    x=datetime.strptime(row['date_priced'], '%m/%d/%Y %I:%M %p')
    return x
def to_date1(row):
    x=datetime.strptime(row['buid_date'], '%m/%d/%Y %I:%M %p')
    return x
def fun_b_year(row):
    x=row['build_date']
    return x.year

def fun_p_year(row):
    x=row['date_priced']
    return x.year

In [85]:
def filtering(df):
    
    #encode locations
    ser=pd.Series(np.arange(0,df.locations.unique().size),df.locations.unique())
    df.locations.replace(ser,inplace=True)
    
    #encode farm land....
    #print(df.farm_land.unique())
    ser1=pd.Series(np.arange(0,df.farm_land.unique().size),df.farm_land.unique())
    df.farm_land.replace(ser1,inplace=True)
    
    #encode builder
    #print(df.builder.unique())
    ser2=pd.Series(np.arange(0,11),df.builder.unique())
    #print(ser2)
    df.builder.replace(ser2,inplace=True)
    
    df['buid_date']=df.apply(lambda i:to_date1(i),axis=1)
    df['date_priced']=df.apply(lambda i:to_date2(i),axis=1)
    
    #df['build_year']=df.apply(lambda i:fun_b_year(i),axis=1)
    #df['priced_year']=df.apply(lambda i:fun_p_year(i),axis=1)
    
    for i in range (0, df.index.size):
        df.loc[i,'house_age']=(df.loc[i,'date_priced']-df.loc[i,'buid_date']).days
        df.loc[i,'build_year']=(df.loc[i,'buid_date']).year
        df.loc[i,'priced_year']=(df.loc[i,'date_priced']).year
        
    #encode build year
    ser2=pd.Series(np.arange(0,df.build_year.unique().size),df.build_year.unique())
    df.build_year.replace(ser2,inplace=True)
    
    #encode priced year
    ser3=pd.Series(np.arange(0,df.priced_year.unique().size),df.priced_year.unique())
    df.priced_year.replace(ser3,inplace=True)
        
           
        
    #ffill fillna  to curse and bathrooms coz less correlation with price ...
    df['curse'].fillna(method='ffill',inplace=True)
    df['curse'].fillna(method='bfill',inplace=True)
    df['bathrooms'].fillna(method='ffill',inplace=True)
    df['bathrooms'].fillna(method='bfill',inplace=True)
        
    
    #.96 correlation b/w curse and holy_tree...
    #so fillna of both columns with help of each other....
    d1=df[['curse','holy_tree']]
    d1=d1.fillna(-1)
    p_index(d1)

    for i in range (0,d1.index.size):
        if d1.loc[i,'curse']==-1 and d1.loc[i,'holy_tree']!=-1:
            d1.loc[i,'curse']=(d1.loc[i,'holy_tree']+1)%2

    for i in range (0,d1.index.size):
        if d1.loc[i,'curse']!=-1 and d1.loc[i,'holy_tree']==-1:
            d1.loc[i,'holy_tree']=(d1.loc[i,'curse']+1)%2

    d1[d1.curse==-1]=pd.np.nan
    df['curse']=d1['curse']
    df['holy_tree']=d1['holy_tree']
    

    
    #king_blessing,dst_capital and dst_knight are correlated ..so keep only one ..
    #king_visit and garden also same ,so delete 1 of them.
    df.drop(['garden','dst_capital','dst_knight'],inplace=True,axis=1)
    
    #too low correlation of renovation with price so drop itÂ¶
    df.drop('renovation',inplace=True,axis=1)
    
    #print(df)
    
    df.drop('buid_date',inplace=True,axis=1)
    df.drop('date_priced',inplace=True,axis=1)
    df.drop('house_id',axis=1,inplace=True)    
    
    return df
    
pass

In [86]:
def p_index(df):
    print(df.isnull().sum())
    print(df.isnull().values.sum())
    print(df.dropna().index.size)
    return

def p_heatmap(df):  
    c=df.corr()
    plt.figure(figsize=[18,8])
    sns.heatmap(c,annot=True,cmap="Blues")
    return

In [87]:
df=pd.read_csv('csv/train.csv')

In [88]:
df=filtering(df)

curse        0
holy_tree    0
dtype: int64
0
16500

In [89]:
df.head()

,dst_dock,dst_mkt,dst_tower,dst_river,dining_rooms,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,builder,price,house_age,build_year,priced_year
0,138.600639,69.486467,14.394903,63.109038,3.0,4.0,2.0,0,0.0,160,0,0,1.0,0,1470912.0,2636.0,0.0,0.0
1,16.254871,34.145238,101.052598,53.249336,2.0,4.0,2.0,1,0.0,133,1,1,1.0,1,1241030.0,4270.0,1.0,1.0
2,6.555428,78.445508,88.480988,72.245533,3.0,NaN,2.0,0,0.0,24,0,2,1.0,2,838723.0,2957.0,1.0,2.0
3,79.724550,92.698917,22.395136,8.059939,2.0,2.0,2.0,0,0.0,140,0,1,1.0,3,1267804.0,3037.0,2.0,3.0
4,101.541256,3.605055,81.449646,35.706541,3.0,2.0,2.0,0,0.0,159,2,1,1.0,4,1497166.0,2833.0,2.0,4.0

In [90]:
#fillna with mean
from sklearn.preprocessing import Imputer
def fill_missing(df):      
    imputer=Imputer(missing_values='NaN', strategy='mean', axis=0)
    imputer.fit(df)

    da=imputer.transform(df)
    col=df.columns

    df=pd.DataFrame(data=da,columns=col)
    return df

In [91]:
#fillna with mean
df_mean=fill_missing(df)

#fillna with interpolation
df_interpolate=df.interpolate()

In [92]:
df_mean.head(n=2)

,dst_dock,dst_mkt,dst_tower,dst_river,dining_rooms,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,builder,price,house_age,build_year,priced_year
0,138.600639,69.486467,14.394903,63.109038,3.0,4.0,2.0,0.0,0.0,160.0,0.0,0.0,1.0,0.0,1470912.0,2636.0,0.0,0.0
1,16.254871,34.145238,101.052598,53.249336,2.0,4.0,2.0,1.0,0.0,133.0,1.0,1.0,1.0,1.0,1241030.0,4270.0,1.0,1.0

In [93]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [19]:
d=df_interpolate

In [20]:
x=d.drop('price',axis=1)
y=d['price']

In [99]:

def crossvalid(df):
    x=df.drop('price',axis=1)
    y=df['price']
    
    X_train, X_test, y_train, y_test=train_test_split(x,y,test_size=0.35,random_state=103)
    
    
    sc=StandardScaler()
    sc.fit(X_train)
    
    X_train=sc.transform(X_train)
    X_test=sc.transform(X_test)
    
    
    
    #rf=RandomForestRegressor(n_estimators=100)
    rf=MLPRegressor(shuffle=True,alpha=1,hidden_layer_sizes=(200, 200, 200, 200),tol=0,max_iter=500, verbose=True,random_state=1000)
    rf.fit(X_train,y_train)
    
    
    y_pred=rf.predict(X_test)
    
    r2s=metrics.r2_score(y_test,y_pred)
    
    test=pd.read_csv('csv/test.csv')

    test_house_id=test['house_id']

    
    test=filtering(test)
    
    #test=test.interpolate()
    test=fill_missing(test)
    


    pred_test=rf.predict(sc.transform(test))
    print("R2 score of test sample")
    print(r2s)
    
    
    
    id_vec=np.array(test_house_id) 
    sol_df=pd.DataFrame()
    sol_df['House ID']=id_vec
    sol_df['Golden Grains']=pred_test
   
    return sol_df
    
    
pass

In [100]:
sol=crossvalid(df_mean)

Iteration 1, loss = 865294930145.67346191
Iteration 2, loss = 747995260679.70825195
Iteration 3, loss = 118624511548.25543213
Iteration 4, loss = 8558944383.58247375
Iteration 5, loss = 7481581710.76205444
Iteration 6, loss = 6749030160.67251873
Iteration 7, loss = 6155951485.28302860
Iteration 8, loss = 5664654303.89556122
Iteration 9, loss = 5243991733.38777828
Iteration 10, loss = 4880384872.10544586
Iteration 11, loss = 4536345040.10198021
Iteration 12, loss = 4246567203.23732281
Iteration 13, loss = 3964034856.06757355
Iteration 14, loss = 3711870992.84499645
Iteration 15, loss = 3487293662.10397577
Iteration 16, loss = 3272444413.78894281
Iteration 17, loss = 3074691056.08870888
Iteration 18, loss = 2898375993.12785482
Iteration 19, loss = 2731379479.34940004
Iteration 20, loss = 2575673373.98154497
Iteration 21, loss = 2450212443.65776873
Iteration 22, loss = 2317490288.79793692
Iteration 23, loss = 2200482936.17634869
Iteration 24, loss = 2092916725.09265852
Iteration 25, loss = 1997102652.12763953
Iteration 26, loss = 1915030158.45325971
Iteration 27, loss = 1833674311.04760456
Iteration 28, loss = 1761345429.19980335
Iteration 29, loss = 1695195659.74305511
Iteration 30, loss = 1636573319.62667298
Iteration 31, loss = 1584514617.87729979
Iteration 32, loss = 1536945427.27029443
Iteration 33, loss = 1494841893.24077535
Iteration 34, loss = 1453567971.24023438
Iteration 35, loss = 1425361266.30810690
Iteration 36, loss = 1383821077.82925582
Iteration 37, loss = 1356182691.64143991
Iteration 38, loss = 1330214022.51960158
Iteration 39, loss = 1304388825.30022430
Iteration 40, loss = 1279997136.57592654
Iteration 41, loss = 1269511787.16370940
Iteration 42, loss = 1243534564.51289392
Iteration 43, loss = 1223028030.94954729
Iteration 44, loss = 1209914156.57461429
Iteration 45, loss = 1196485060.98419595
Iteration 46, loss = 1186686929.35569406
Iteration 47, loss = 1174856976.49869251
Iteration 48, loss = 1159744996.99393368
Iteration 49, loss = 1147698809.66313958
Iteration 50, loss = 1146586910.93533540
Iteration 51, loss = 1127565430.25384617
Iteration 52, loss = 1121096894.33666635
Iteration 53, loss = 1112944852.48337746
Iteration 54, loss = 1106624583.83292174
Iteration 55, loss = 1100397408.95582056
Iteration 56, loss = 1093332357.13182473
Iteration 57, loss = 1087737809.70893216
Iteration 58, loss = 1082642780.97568011
Iteration 59, loss = 1081174015.27290201
Iteration 60, loss = 1071307750.28950727
Iteration 61, loss = 1064572851.61636496
Iteration 62, loss = 1058624426.59961343
Iteration 63, loss = 1055949432.96118903
Iteration 64, loss = 1056673306.88656378
Iteration 65, loss = 1050854714.49950576
Iteration 66, loss = 1043890113.57374203
Iteration 67, loss = 1051829330.98097301
Iteration 68, loss = 1048881553.51765585
Iteration 69, loss = 1052045055.35601854
Training loss did not improve more than tol=0.000000 for two consecutive epochs. Stopping.
curse        0
holy_tree    0
dtype: int64
0
3500
R2 score of test sample
0.916792472307

In [101]:
sol.head()

   House ID  Golden Grains
0  6e33d031   1.165321e+06
1  6e33d037   1.239065e+06
2  6e33d03d   1.491224e+06
3  6e33d043   1.221539e+06
4  6e33d045   1.339981e+06

In [98]:
sol.to_csv('submit_mean.csv',index=False)

In [140]:
rf=RandomForestRegressor()
rf.fit()

TypeError: fit() missing 2 required positional arguments: 'X' and 'y'

In [30]:
test

,house_id,buid_date,date_priced,dst_dock,dst_mkt,dst_tower,dst_river,dining_rooms,bedrooms,bathrooms,king_visit,curse,king_blessing,farm_land,locations,holy_tree,builder,house_age,build_year,priced_year
0,6e33d031,1601-02-05 03:11:00,1610-03-11 04:59:00,105.449712,25.687517,124.656380,32.971288,3.0,2.0,3.0,0,0.0,96,0,0,1.0,0,3321.0,0.0,0.0
1,6e33d037,1605-02-17 14:36:00,1611-07-07 23:42:00,10.028074,NaN,148.906420,53.604283,2.0,4.0,2.0,0,0.0,143,1,1,1.0,1,2331.0,1.0,1.0
2,6e33d03d,1604-06-08 11:52:00,1607-08-01 19:40:00,46.697442,33.374570,118.027166,7.347228,NaN,3.0,3.0,0,0.0,151,0,2,1.0,2,1149.0,2.0,2.0
3,6e33d043,1600-03-13 22:21:00,1612-01-07 13:52:00,9.797009,9.624204,123.956946,24.799455,2.0,2.0,3.0,0,0.0,151,1,1,1.0,1,4316.0,3.0,3.0
4,6e33d045,1603-01-01 18:53:00,1612-01-17 05:27:00,51.371900,NaN,86.886693,5.552861,3.0,3.0,2.0,0,0.0,127,0,1,1.0,3,3302.0,4.0,3.0
5,6e33d049,1605-10-21 14:15:00,1612-05-14 19:22:00,29.824765,23.007202,63.369694,20.721687,4.0,2.0,2.0,0,1.0,108,0,0,0.0,1,2397.0,1.0,3.0
6,6e33d04d,1606-08-03 03:42:00,1608-11-02 00:50:00,31.737892,41.647926,76.754042,1.551319,2.0,2.0,2.0,0,0.0,113,0,1,1.0,1,821.0,5.0,4.0
7,6e33d051,1600-10-19 20:21:00,1612-10-19 07:59:00,13.943795,17.472071,54.192768,78.604543,3.0,2.0,4.0,0,0.0,94,0,0,1.0,4,4382.0,3.0,3.0
8,6e33d053,1602-10-13 11:14:00,1607-06-24 03:34:00,23.340074,144.284363,19.646201,36.137882,2.0,3.0,3.0,0,0.0,90,0,1,1.0,1,1714.0,6.0,2.0
9,6e33d055,1600-08-11 12:37:00,1608-06-06 16:22:00,24.864534,7.256853,87.784779,4.489005,2.0,3.0,3.0,0,0.0,78,0,1,1.0,1,2856.0,3.0,4.0
10,6e33d05b,1604-09-13 12:13:00,1607-10-11 00:55:00,56.076117,23.505534,112.628583,34.602744,4.0,2.0,3.0,1,0.0,89,2,3,1.0,5,1122.0,2.0,2.0
11,6e33d05f,1602-01-05 12:21:00,1610-12-23 23:19:00,75.526194,17.502729,27.605080,8.725384,NaN,4.0,2.0,0,1.0,68,1,4,1.0,2,3274.0,6.0,0.0
12,6e33d062,1606-05-11 09:10:00,1607-12-10 19:37:00,28.099981,9.631617,70.144950,76.731214,2.0,4.0,2.0,0,0.0,131,1,4,1.0,1,578.0,5.0,2.0
13,6e33d065,1606-11-18 13:19:00,1612-02-02 18:47:00,67.129268,21.059359,103.032488,6.367398,2.0,4.0,4.0,0,0.0,156,1,2,1.0,2,1902.0,5.0,3.0
14,6e33d067,1604-10-11 00:36:00,1607-05-26 02:35:00,83.371135,114.625375,45.847144,16.420520,4.0,2.0,4.0,0,0.0,137,0,1,1.0,1,957.0,2.0,2.0
15,6e33d06b,1601-06-07 04:16:00,1611-12-16 00:54:00,66.589529,139.326791,84.306716,17.132410,NaN,2.0,3.0,0,0.0,153,0,1,1.0,1,3843.0,0.0,1.0
16,6e33d071,1604-04-11 02:44:00,1608-12-02 14:38:00,74.878720,10.766266,146.599966,32.403840,2.0,3.0,3.0,0,0.0,144,0,2,1.0,0,1696.0,2.0,4.0
17,6e33d075,1604-04-12 17:15:00,1610-12-26 01:25:00,42.857214,57.524676,105.024039,38.351776,NaN,4.0,4.0,0,0.0,92,0,1,1.0,1,2448.0,2.0,0.0
18,6e33d07a,1604-03-03 21:19:00,1611-07-06 08:18:00,45.061398,29.026486,92.578404,24.804130,2.0,4.0,4.0,0,0.0,113,1,1,1.0,1,2680.0,2.0,1.0
19,6e33d080,1603-08-26 22:57:00,1608-12-13 08:58:00,NaN,5.413229,39.648352,9.849196,4.0,4.0,2.0,0,0.0,44,0,4,1.0,6,1935.0,4.0,4.0
20,6e33d083,1601-06-05 11:47:00,1611-06-16 14:11:00,73.103612,34.296307,142.661669,40.821637,3.0,3.0,4.0,0,0.0,140,0,4,1.0,7,3663.0,0.0,1.0
21,6e33d089,1606-07-20 10:13:00,1607-02-02 06:12:00,69.529218,105.757839,NaN,3.224149,3.0,3.0,4.0,0,0.0,94,0,2,1.0,5,196.0,5.0,2.0
22,6e33d08b,1604-09-09 05:59:00,1607-08-25 08:52:00,13.084063,54.429163,7.112783,18.511897,2.0,3.0,2.0,0,0.0,135,1,1,1.0,3,1080.0,2.0,2.0
23,6e33d08e,1602-05-10 16:40:00,1612-11-07 09:27:00,29.152561,61.857066,184.127814,17.812789,2.0,3.0,4.0,0,1.0,102,0,3,0.0,5,3833.0,6.0,3.0
24,6e33d090,1603-01-04 00:36:00,1608-12-14 06:40:00,16.847550,25.491232,126.579004,30.543422,3.0,3.0,3.0,0,0.0,109,1,3,1.0,1,2171.0,4.0,4.0
25,6e33d095,1606-08-04 07:32:00,1610-11-01 16:24:00,41.181731,4.880599,39.739817,6.813766,4.0,3.0,3.0,0,0.0,131,0,1,1.0,1,1550.0,5.0,0.0
26,6e33d098,1604-04-03 09:48:00,1608-10-14 21:32:00,115.681407,131.142988,44.797970,10.409406,3.0,4.0,4.0,0,0.0,106,1,4,1.0,5,1655.0,2.0,4.0
27,6e33d09a,1604-09-18 10:38:00,1611-02-22 10:47:00,40.225329,28.691723,128.964924,45.807497,4.0,3.0,2.0,0,0.0,71,1,3,1.0,1,2348.0,2.0,1.0
28,6e33d09d,1604-05-28 22:57:00,1611-07-23 09:32:00,37.629461,52.639611,71.211312,50.305380,3.0,3.0,4.0,0,0.0,136,0,2,1.0,6,2611.0,2.0,1.0
29,6e33d0a0,1600-11-01 01:41:00,1612-05-08 16:35:00,114.282438,NaN,6.289290,56.228522,2.0,3.0,3.0,0,0.0,144,0,3,1.0,8,4206.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,6e340639,1603-11-28 19:20:00,1608-01-14 11:51:00,42.529136,21.660258,23.512476,90.328359,4.0,3.0,4.0,0,0.0,148,1,0,1.0,9,1507.0,4.0,4.0
3471,6e34063f,1606-04-27 02:13:00,1612-06-10 10:14:00,102.694982,61.919823,83.814238,17.774579,3.0,4.0,2.0,1,0.0,128,2,1,1.0,9,2236.0,5.0,3.0
3472,6e340643,1603-07-23 04:20:00,1607-11-23 00:33:00,NaN,9.077165,153.919409,25.885792,4.0,4.0,4.0,0,1.0,127,0,1,0.0,7,1583.0,4.0,2.0
3473,6e340648,1600-10-05 18:44:00,1609-11-04 00:36:00,2.962042,NaN,14.870698,88.182682,4.0,3.0,2.0,0,0.0,61,0,1,1.0,10,3316.0,3.0,5.0
3474,6e34064d,1601-12-27 23:30:00,1608-11-11 03:30:00,121.225710,108.665635,116.700683,60.857810,4.0,NaN,3.0,0,0.0,46,0,4,1.0,9,2510.0,0.0,4.0
3475,6e340651,1602-12-05 20:13:00,1607-12-23 14:46:00,41.441982,42.015723,181.624573,18.903017,4.0,4.0,2.0,0,0.0,130,0,3,1.0,1,1843.0,6.0,2.0
3476,6e340654,1606-05-08 08:34:00,1607-12-25 08:27:00,NaN,3.928760,127.060210,2.583824,2.0,3.0,4.0,0,0.0,114,1,1,1.0,8,595.0,5.0,2.0
3477,6e340657,1603-05-06 02:33:00,1611-09-05 10:11:00,132.919672,58.266265,120.730470,18.999994,3.0,2.0,3.0,0,0.0,132,0,2,1.0,10,3044.0,4.0,1.0
3478,6e34065c,1606-10-11 20:56:00,1610-01-17 05:45:00,2.693830,72.859501,NaN,0.458847,2.0,4.0,3.0,0,0.0,115,1,4,1.0,6,1193.0,5.0,0.0
3479,6e340660,1601-05-04 07:15:00,1611-12-24 23:46:00,1.930492,44.815809,221.478790,22.384466,2.0,2.0,2.0,0,1.0,152,0,0,0.0,2,3886.0,0.0,1.0
3480,6e340664,1602-12-25 10:43:00,1607-05-03 06:40:00,27.015317,NaN,154.803489,74.214318,4.0,2.0,3.0,0,0.0,124,0,1,1.0,1,1589.0,6.0,2.0
3481,6e340669,1604-03-26 07:35:00,1608-06-06 01:11:00,36.603081,19.613211,206.616680,13.026990,NaN,3.0,3.0,0,0.0,134,0,1,1.0,9,1532.0,2.0,4.0
3482,6e34066e,1603-12-24 17:39:00,1612-12-11 11:58:00,48.135367,16.662752,146.877836,10.022865,4.0,4.0,2.0,0,0.0,147,0,1,1.0,1,3274.0,4.0,3.0
3483,6e340672,1605-07-24 11:23:00,1609-01-22 03:47:00,38.166921,42.665799,124.236139,11.195292,4.0,3.0,4.0,0,0.0,115,1,1,1.0,4,1277.0,1.0,5.0
3484,6e340674,1602-12-01 11:29:00,1609-09-20 07:41:00,66.418102,NaN,NaN,19.490151,2.0,2.0,3.0,0,0.0,47,0,3,1.0,5,2484.0,6.0,5.0
3485,6e34067a,1602-01-28 16:36:00,1612-08-25 08:42:00,10.895820,3.195129,2.106247,60.117810,4.0,3.0,3.0,1,0.0,154,2,1,1.0,9,3861.0,6.0,3.0
3486,6e340680,1606-02-22 08:13:00,1610-12-10 12:27:00,12.944622,NaN,75.563257,19.312508,3.0,3.0,2.0,0,0.0,47,1,2,1.0,7,1752.0,5.0,0.0
3487,6e340684,1606-06-22 07:27:00,1612-05-07 21:20:00,89.205345,27.662102,84.159738,10.952252,3.0,3.0,3.0,1,0.0,70,2,4,1.0,4,2146.0,5.0,3.0
3488,6e340688,1600-08-23 14:28:00,1610-03-28 12:46:00,82.232391,13.096544,129.080210,85.948154,3.0,3.0,2.0,0,0.0,136,0,1,1.0,7,3503.0,3.0,0.0
3489,6e34068a,1605-08-09 10:33:00,1607-06-12 16:39:00,NaN,25.444972,264.087444,69.286130,4.0,2.0,3.0,0,0.0,132,0,0,1.0,4,672.0,1.0,2.0
3490,6e34068e,1602-10-06 09:23:00,1608-09-22 07:18:00,34.539659,NaN,88.645344,23.978964,2.0,2.0,4.0,0,0.0,137,0,0,1.0,4,2177.0,6.0,4.0
3491,6e340692,1603-07-04 12:16:00,1608-12-11 09:21:00,NaN,40.957382,11.722858,58.043509,4.0,4.0,4.0,1,1.0,104,2,4,0.0,6,1986.0,4.0,4.0
3492,6e340694,1605-06-21 13:47:00,1611-05-26 15:47:00,139.265907,21.989276,245.027761,2.240262,3.0,4.0,4.0,0,0.0,113,1,1,1.0,8,2165.0,1.0,1.0
3493,6e340697,1604-05-18 18:16:00,1612-08-23 21:53:00,76.406808,2.438940,118.736748,14.166868,2.0,4.0,4.0,0,0.0,153,1,1,1.0,1,3019.0,2.0,3.0
3494,6e34069d,1601-04-20 05:52:00,1610-10-23 22:39:00,85.487778,23.414207,99.356810,47.628976,4.0,3.0,3.0,0,0.0,113,0,2,1.0,6,3473.0,0.0,0.0
3495,6e3406a1,1604-08-09 13:33:00,1608-11-20 23:48:00,33.336493,15.376197,109.357267,26.513962,3.0,3.0,3.0,0,0.0,145,0,1,1.0,2,1564.0,2.0,4.0
3496,6e3406a5,1605-04-27 21:21:00,1610-12-17 17:31:00,135.589474,76.388094,71.473197,27.467221,3.0,4.0,3.0,0,0.0,91,0,4,1.0,6,2059.0,1.0,0.0
3497,6e3406a9,1600-03-25 06:33:00,1610-12-14 00:11:00,95.083193,31.296676,207.902888,38.321914,4.0,3.0,2.0,0,0.0,153,1,1,1.0,10,3915.0,3.0,0.0
3498,6e3406ab,1600-12-12 23:12:00,1612-11-09 05:44:00,26.326570,44.372570,115.341290,35.162018,4.0,3.0,4.0,0,0.0,147,0,3,1.0,2,4349.0,3.0,3.0
3499,6e3406b0,1605-12-10 21:29:00,1612-02-02 19:46:00,121.966775,14.517900,171.621709,37.602892,4.0,4.0,4.0,0,0.0,142,0,1,1.0,1,2244.0,1.0,3.0

In [29]:
test=pd.read_csv('csv/test.csv')
test=filtering(test)

#test=test.interpolate()
test=fill_missing(test)

curse        0
holy_tree    0
dtype: int64
0
3500

TypeError: float() argument must be a string or a number, not 'datetime.datetime'

In [124]:
test=pd.read_csv('csv/test.csv')

test=filtering(test)

test=test.interpolate()

test_house_id=test['house_id']

test=drop_unused(test)

curse        0
holy_tree    0
dtype: int64
0
3500

In [128]:
id_vec=np.array(test_house_id)

In [129]:
id_vec

array(['6e33d051', '6e33d0e0', '6e33d108', ..., '6e340598', '6e3405ec',
       '6e340674'], dtype=object)

In [130]:
sol_df=pd.DataFrame()
sol_df['id']=id_vec

In [132]:
sol_df

            id
0     6e33d051
1     6e33d0e0
2     6e33d108
3     6e33d16f
4     6e33d1b1
5     6e33d27e
6     6e33d2a1
7     6e33d34f
8     6e33d359
9     6e33d35f
10    6e33d3a7
11    6e33d3be
12    6e33d3fd
13    6e33d405
14    6e33d40f
15    6e33d449
16    6e33d46f
17    6e33d48d
18    6e33d4c9
19    6e33d501
20    6e33d50d
21    6e33d54a
22    6e33d581
23    6e33d590
24    6e33d5d6
25    6e33d632
26    6e33d656
27    6e33d68b
28    6e33d694
29    6e33d699
...        ...
3470  6e33ff6c
3471  6e33ffd0
3472  6e33fff6
3473  6e340075
3474  6e3400ae
3475  6e3400cd
3476  6e3400e0
3477  6e340134
3478  6e340146
3479  6e340186
3480  6e340199
3481  6e3401bb
3482  6e3401c9
3483  6e3401cf
3484  6e3401fd
3485  6e340221
3486  6e340269
3487  6e340290
3488  6e3402ea
3489  6e340302
3490  6e34040e
3491  6e34042b
3492  6e340441
3493  6e340485
3494  6e340508
3495  6e340547
3496  6e340559
3497  6e340598
3498  6e3405ec
3499  6e340674

[3500 rows x 1 columns]